# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [5]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [32]:
legendary = pokemon[pokemon["Legendary"]==True]
non_legendary = pokemon[pokemon["Legendary"]==False]
calc = pd.DataFrame([legendary.mean(),non_legendary.mean(),legendary.std(),non_legendary.std()], index=[["Legendary_mean", "Non_legendary_mean", "Legendary_std","Non_legendary_std"]])
calc.head()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Legendary_mean,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231,1.0
Non_legendary_mean,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354,0.0
Legendary_std,173.651095,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262,0.0
Non_legendary_std,208.590419,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471,0.0

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [47]:
from scipy.stats import ttest_ind

a = pokemon[pokemon["Legendary"]==True]["Total"]
b = pokemon[pokemon["Legendary"]==False]["Total"]
ttest_ind(a,b,equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [48]:
#We reject the null hypothesis and we can confirm that there is a significant difference in between 
#the legendary and the non_legendary pokemon

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [53]:
pokemon.groupby("Type 1").count()["Name"].sort_values(ascending = False)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [68]:
water = pokemon[pokemon["Type 1"] == "Water"]
non_water = pokemon[pokemon["Type 1"] != "Water"]

calc = pd.DataFrame([water.mean(),non_water.mean(),water.std(),non_water.std()], index = [["Water mean", "Non_water mean", "Water std","Non_water std"]])
calc.head()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Water mean,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Non_water mean,372.536337,435.859012,68.802326,79.790698,73.988372,72.495640,72.127907,68.654070,3.399709,0.088663
Water std,188.440807,113.188266,27.487026,28.377192,27.773809,29.030128,28.460493,23.019353,1.558800,0.186411
Non_water std,209.928799,121.091682,25.194299,33.025152,31.719933,33.292537,27.739292,29.925907,1.666119,0.284463

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [69]:
from scipy.stats import ttest_ind

a = pokemon[pokemon["Type 1"]=="Water"]["Total"]
b = pokemon[pokemon["Type 1"]!="Water"]["Total"]
ttest_ind(a,b,equal_var = True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
#We cannot reject the null hypothesis as the p_value is way far from 5% .

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [71]:
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

In [78]:
from scipy.stats import ttest_rel
a = pokemon.Attack
b = pokemon.Defense
t, p_value = ttest_rel(a,b)
p_value_1 = p_value
print(t, p_value)

4.325566393330478 1.7140303479358558e-05

Describe the results of the test in the cell below.

In [12]:
# DUe to the fact the the p_value is way smaller than 0.05 we can reject the H= that they have identical average. And 
#therefore there is signifant difference

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [73]:
a = pokemon["Sp. Atk"]
b = pokemon["Sp. Def"]
ttest_rel(a,b)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
#We cannot reject the null hypothesis. There is not significant diference in the mean of special attack and special defense.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [79]:
from scipy.stats import ttest_1samp

a = pokemon.Attack - pokemon.Defense
t, p_value = ttest_1samp(a, 0)
print(t,p_value)
print("Both calculations are exactly the same: {}".format(p_value_1==p_value))

4.325566393330478 1.7140303479358558e-05
Both calculations are exactly the same: True

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [89]:
pokemon["isWater"] = pokemon["Type 1"] == "Water"
cont = pd.crosstab(pokemon.Legendary, pokemon["isWater"])
cont

isWater    False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [92]:
from scipy.stats import chi2_contingency
#H1 : hypothesis test of independence of the observed frequencies in the contingency table [1] observed

chi2, p, dof, ex = chi2_contingency(cont)

print("Chi2:", chi2, "P_value;", p)

Chi2: 2.9429200762850503 P_value; 0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [93]:
# Your answer here:
#No. we cannot reject it!