# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [7]:
# Your code here:
legendary = pokemon[pokemon["Legendary"]==True]
n_legendary = pokemon[pokemon["Legendary"]==False]
calc = pd.DataFrame([legendary.mean(),n_legendary.mean(),legendary.std(),n_legendary.std()], index=[["Legendary_mean", "N_legendary_mean", "Legendary_std","N_legendary_std"]])
calc.head()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Legendary_mean,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231,1.0
N_legendary_mean,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354,0.0
Legendary_std,173.651095,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262,0.0
N_legendary_std,208.590419,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471,0.0

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [9]:
from scipy.stats import ttest_ind

a = pokemon[pokemon["Legendary"]==True]["Total"]
b = pokemon[pokemon["Legendary"]==False]["Total"]
z = ttest_ind(a,b,equal_var = False)

print(z)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
Hay una diferencia importante entre los pokemon legendarios y no legendarios.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [11]:
pokemon.groupby("Type 1").count()["Name"]

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [14]:
water = pokemon[pokemon["Type 1"] == "Water"]
n_water = pokemon[pokemon["Type 1"] != "Water"]

z = pd.DataFrame([water.mean(),non_water.mean(),water.std(),non_water.std()], index = [["Water mean", "Not water mean", "Water std","Not water std"]])
print(z)

                         #       Total         HP     Attack    Defense  \
Water mean      303.089286  430.455357  72.062500  74.151786  72.946429
Not water mean  372.536337  435.859012  68.802326  79.790698  73.988372
Water std       188.440807  113.188266  27.487026  28.377192  27.773809
Not water std   209.928799  121.091682  25.194299  33.025152  31.719933

                  Sp. Atk    Sp. Def      Speed  Generation  Legendary
Water mean      74.812500  70.517857  65.964286    2.857143   0.035714
Not water mean  72.495640  72.127907  68.654070    3.399709   0.088663
Water std       29.030128  28.460493  23.019353    1.558800   0.186411
Not water std   33.292537  27.739292  29.925907    1.666119   0.284463

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [16]:
from scipy.stats import ttest_ind

a = pokemon[pokemon["Type 1"]=="Water"]["Total"]
b = pokemon[pokemon["Type 1"]!="Water"]["Total"]
z = ttest_ind(a,b,equal_var = True)

print(z)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [17]:
# Your code here:
from scipy.stats import ttest_rel


pa = pokemon.Attack
pd = pokemon.Defense

t, p_value = ttest_rel(pa,pd)
p_value_1 = p_value
print(t, p_value)

4.325566393330478 1.7140303479358558e-05

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [18]:
# Your code here:
pa = pokemon["Sp. Atk"]
pd = pokemon["Sp. Def"]


ttest_rel(pa,pd)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [21]:
from scipy.stats import ttest_1samp

pad = pokemon.Attack - pokemon.Defense
t, p_value = ttest_1samp(pad, 0)

print(t,p_value)


print("Son el mismo calculo")

4.325566393330478 1.7140303479358558e-05
Son el mismo calculo

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [26]:
#No me funciona el crosstab, mañana lo vemos

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: