# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [22]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [23]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [24]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [25]:
# Your code here:
pokemondata = pd.DataFrame(pokemon)
pokemondata.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [26]:
nonlegendary = pokemondata.loc[pokemon["Legendary"] == False]
nonlegendary.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [27]:
legendary = pokemondata.loc[pokemon["Legendary"] == True]
legendary.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [28]:
print(nonlegendary.Total.mean())
print(legendary.Total.mean())

417.21360544217686
637.3846153846154

In [29]:
# Your code here:

print(nonlegendary.loc[:,"Total"].std())
print(legendary.loc[:,"Total"].std())

106.76041745713005
60.93738905315344

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [30]:
# Your code here:
from scipy import stats

test = stats.ttest_ind(legendary['Total'], nonlegendary['Total'], equal_var=False)
test

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [31]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [32]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [33]:
# Your code here:
water = pokemon[pokemon["Type 1"] == "Water"]
print(water.mean())
print(water.std())
nowater = pokemon[pokemon["Type 1"] != "Water"]
print(nowater.mean())
print(nowater.std())

#             303.089286
Total         430.455357
HP             72.062500
Attack         74.151786
Defense        72.946429
Sp. Atk        74.812500
Sp. Def        70.517857
Speed          65.964286
Generation      2.857143
Legendary       0.035714
dtype: float64
#             188.440807
Total         113.188266
HP             27.487026
Attack         28.377192
Defense        27.773809
Sp. Atk        29.030128
Sp. Def        28.460493
Speed          23.019353
Generation      1.558800
Legendary       0.186411
dtype: float64
#             372.536337
Total         435.859012
HP             68.802326
Attack         79.790698
Defense        73.988372
Sp. Atk        72.495640
Sp. Def        72.127907
Speed          68.654070
Generation      3.399709
Legendary       0.088663
dtype: float64
#             209.928799
Total         121.091682
HP             25.194299
Attack         33.025152
Defense        31.719933
Sp. Atk        33.292537
Sp. Def        27.739292
Speed          29.925907
Generation      1.666119
Legendary       0.284463
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [34]:
# Your code here:
hypothesis = stats.ttest_ind(water['Total'], nowater['Total'])
hypothesis

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [35]:
# Your conclusions here:


#la diferencia entre un pokemon de agua y no de agua no es muy grande

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [36]:
# Your code here:
from scipy import stats
test = stats.ttest_rel(pokemon['Attack'], pokemon['Defense'])
test

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [37]:
# Your conclusions here:
#Hay una diferencia notable entre pokemon de ataque y los de defensa.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [38]:
# Your code here:

test = stats.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])
test

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [39]:
# Your conclusions here:
#Se rechaza ya que el pvalue esta por debajo del 0.5

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [40]:
# Your code here:
test = stats.ttest_1samp(pokemon['Sp. Atk'] - pokemon['Sp. Def'],0)   
test

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [41]:
# Your code here:

pokemonlegenwater = pd.crosstab(pokemon['Legendary'],pokemon['Type 1']=='Water', colnames=['Water'])
pokemonlegenwater

Water      False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [42]:
# Your code here:
from scipy import stats

chi2_contingency(pokemonlegenwater)

NameError: name 'chi2_contingency' is not defined

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: