# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [60]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [61]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [62]:
# Your code here:
display(pokemon.head())

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [63]:
# Your code here:
print(pokemon["Legendary"].value_counts())

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [66]:
# Your" code here:
print("Mean of legendary Pokemons is:")
legendaries_ps=pokemon[pokemon["Legendary"]==True].loc[:,"Total"]
nonlegendaries_ps=pokemon[pokemon["Legendary"]==False].loc[:,"Total"]
print(legendaries_ps.describe()["mean"])
print()
print("Standard deviation of legendary Pokemons is:")
print(legendaries_ps.describe()["std"])
print()
print("Mean of non-legendary Pokemons is:")
print(nonlegendaries_ps.describe()["mean"])
print()
print("Standard deviation of non-legendary Pokemons is:")
print(nonlegendaries_ps.describe()["std"])
print()

Mean of legendary Pokemons is:

156    580
157    580
158    580
162    680
163    780
Name: Total, dtype: int64

637.3846153846154

Standard deviation of legendary Pokemons is:
60.93738905315344

Mean of non-legendary Pokemons is:
417.21360544217686

Standard deviation of non-legendary Pokemons is:
106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [31]:
# Your code here:
ttest_ind(legendaries_ps, nonlegendaries_ps, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [52]:
# Your conclusions here:

print("""
      Given that the statistic is overly lower than 0.05 we can reject the
      hypothesis that the means are the same. The means are statistically different""")

      Given that the statistic is overly lower than 0.05 we can reject the
      hypothesis that the means are the same. The means are statistically different

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [34]:
# Your code here:
print(pokemon["Type 1"].value_counts())

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [72]:
# Your code here:
water_pokemon=pokemon[pokemon["Type 1"]=="Water"]
display(water_pokemon)
nonwater_pokemon=pokemon[pokemon["Type 1"]!="Water"]
display(nonwater_pokemon)
print("Mean of water Pokemons is:")
print(water_pokemon["Total"].describe()["mean"])
print()
print("Standard deviation of legendary Pokemons is:")
print(water_pokemon["Total"].describe()["std"])
print()
print("Mean of non-water Pokemons is:")
print(nonwater_pokemon["Total"].describe()["mean"])
print()
print("Standard deviation of non-water Pokemons is:")
print(nonwater_pokemon["Total"].describe()["std"])
print()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Mean of water Pokemons is:
430.45535714285717

Standard deviation of legendary Pokemons is:
113.1882660643146

Mean of non-water Pokemons is:
435.85901162790697

Standard deviation of non-water Pokemons is:
121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [45]:
# Your code here:
print(ttest_ind(water_pokemon["Total"], nonwater_pokemon["Total"], equal_var=True))
print ()

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
print( """
Given that the statistic is overly higher than 0.05 we can not 
reject the hypothesis that the means are the same.
""")

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [53]:
# Your code here:
from scipy.stats import ttest_rel

Describe the results of the test in the cell below.

In [54]:
# Your conclusions here:
pokemon_attack=pokemon["Attack"]
pokemon_defense=pokemon["Defense"]
print(ttest_rel(pokemon_attack, pokemon_defense))

# Given that the statistic is well below 0.05 we can reject the hipotheiss that the attack and defense means are equal.

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [55]:
# Your code here:
pokemon_spattack=pokemon["Sp. Atk"]
pokemon_spdefense=pokemon["Sp. Def"]
print(ttest_rel(pokemon_spattack, pokemon_spdefense))

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
print("""
        Given that the value of the statistic is above 0.05 we can not reject that the means are equal.
        """)

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [59]:
# Your code here:
from scipy.stats import ttest_1samp
print(ttest_1samp(pokemon_spattack - pokemon_spdefense,0))

print("""
      The value of the statistic is the same as before, our conclusion remains unchanged,
      the means could be equal, we can not reject the hypothesis.
      """)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

      The value of the statistic is the same as before, our conclusion remains unchanged,
      the means could be equal, we can not reject the hypothesis.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [81]:
# Your code here:
#display(pokemon["Legendary"]==True)
crosstab_rows=pokemon["Type 1"]=="Water"
crosstab_columns=pokemon["Legendary"]
#cont_df=pd.crosstab(pokemnon)
display(crosstab_columns)
crosstab_df=pd.crosstab(crosstab_rows, crosstab_columns)
display(crosstab_df)

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: Legendary, Length: 800, dtype: bool

Legendary  False  True
Type 1
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [82]:
# Your code here:
from scipy.stats import chi2_contingency
chi2_contingency (crosstab_df)

(2.9429200762850503, 0.08625467249550949, 1, array([[632.1,  55.9],
        [102.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [83]:
# Your answer here:
# No, as the p-value is 0.08 which is higher than 0.05 we cannot reject the null hypothesis.