# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [17]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:

pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [16]:
# Your code here:

legendary_pok = pokemon[pokemon["Legendary"] == True]["Total"]
non_legendary_pok = pokemon[pokemon["Legendary"] == False]["Total"]

print("The total points mean for legendary pokemon = {}".format(np.mean(legendary_pok))) 
print("The total points standard deviation for legendary pokemon = {}".format(np.std(legendary_pok)))
print("The total points mean for non-legendary pokemon = {}".format(np.mean(non_legendary_pok))) 
print("The total points standard deviation for non-legendary pokemon = {}".format(np.std(non_legendary_pok)))

The total points mean for legendary pokemon = 637.3846153846154
The total points standard deviation for legendary pokemon = 60.46682302213779
The total points mean for non-legendary pokemon = 417.21360544217686
The total points standard deviation for non-legendary pokemon = 106.68776660321979

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [18]:
# Your code here:

stats.ttest_ind(legendary_pok, non_legendary_pok, equal_var= False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

# There is a significant difference between both groups (Legenday and Non-Legendary Pokemon)

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [23]:
# Your code here:

pokemon.groupby("Type 1").count()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [24]:
# Your code here:

water_pok = pokemon[pokemon["Type 1"] == "Water"]
non_water_pok = pokemon[pokemon["Type 1"] != "Water"]

print("The total points mean for water pokemon = {}".format(np.mean(water_pok))) 
print("The total points standard deviation for water pokemon = {}".format(np.std(water_pok)))
print("The total points mean for non-water pokemon = {}".format(np.mean(non_water_pok))) 
print("The total points standard deviation for non-water pokemon = {}".format(np.std(non_water_pok)))

The total points mean for water pokemon = #             303.089286
Total         430.455357
HP             72.062500
Attack         74.151786
Defense        72.946429
Sp. Atk        74.812500
Sp. Def        70.517857
Speed          65.964286
Generation      2.857143
Legendary       0.035714
dtype: float64
The total points standard deviation for water pokemon = #             187.597668
Total         112.681828
HP             27.364041
Attack         28.250224
Defense        27.649541
Sp. Atk        28.900238
Sp. Def        28.333153
Speed          22.916357
Generation      1.551826
Legendary       0.185577
dtype: float64
The total points mean for non-water pokemon = #             372.536337
Total         435.859012
HP             68.802326
Attack         79.790698
Defense        73.988372
Sp. Atk        72.495640
Sp. Def        72.127907
Speed          68.654070
Generation      3.399709
Legendary       0.088663
dtype: float64
The total points standard deviation for non-water pokemon = #             209.776179
Total         121.003648
HP             25.175983
Attack         33.001142
Defense        31.696872
Sp. Atk        33.268333
Sp. Def        27.719126
Speed          29.904151
Generation      1.664908
Legendary       0.284256
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [25]:
# Your code here:

water_pok_total = pokemon[pokemon["Type 1"] == "Water"]["Total"]
non_water_pok_total = pokemon[pokemon["Type 1"] != "Water"]["Total"]

stats.ttest_ind(water_pok_total, non_water_pok_total, equal_var= False)

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [11]:
# Your code here:

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [13]:
# Your code here:

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: