# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

display(pokemon.head())

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [57]:
# Your code here:
not_legendary = pokemon[pokemon["Legendary"] == False]
pokemon_legendary = pokemon[pokemon["Legendary"] == True]

display("Pokemon no legendarios {}".format(not_legendary["Legendary"].count()))
display("Pokemon  legendarios {}".format(pokemon_legendary["Legendary"].count()))

'Pokemon no legendarios 735'

'Pokemon  legendarios 65'

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [67]:
pokemon_legendary_mean = pokemon_legendary["Total"].mean()
not_legendary_mean = not_legendary["Total"].mean()
pokemon_legendary_std = pokemon_legendary["Total"].std()
not_legendary_std = not_legendary["Total"].std()

print("Media de pokemon legendarios ", pokemon_legendary_mean)
print("Media de pokemon no legendarios ", not_legendary_mean)
print("Desviación estandar de pokemon legendarios ", pokemon_legendary_std)
print("Desviación estandar de pokemon no legendarios ", not_legendary_std)

Media de pokemon legendarios  637.3846153846154
Media de pokemon no legendarios  417.21360544217686
Desviación estandar de pokemon legendarios  60.93738905315344
Desviación estandar de pokemon no legendarios  106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [70]:
# Your code here:
from scipy.stats import ttest_ind
display(ttest_ind(pokemon_legendary['Total'], not_legendary['Total']))

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
print("Que existe una gran diferencia entre los pokemon legenrarios y no legendarios")

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [78]:
# Your code here:

display(pokemon.groupby("Type 1").size())

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [84]:
# Your code here:
pokemon_water = pokemon[pokemon["Type 1"] == "Water"]
pokemon_not_water = pokemon[pokemon["Type 1"] != "Water"]

pokemon_water_mean = pokemon_water["Total"].mean()
pokemon_not_water_mean = pokemon_not_water["Total"].mean()
pokemon_water_std = pokemon_water["Total"].std()
pokemon_not_water_std = pokemon_not_water["Total"].std()

print("Media de pokemon de agua ", pokemon_water_mean)
print("Media de pokemon distinto de agua ", pokemon_not_water_mean)
print("Desviación estandar de pokemon de agua ", pokemon_water_std)
print("Desviación estandar de pokemon distinto de agua ", pokemon_not_water_std)

Media de pokemon de agua  430.45535714285717
Media de pokemon distinto de agua  435.85901162790697
Desviación estandar de pokemon de agua  113.1882660643146
Desviación estandar de pokemon distinto de agua  121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [88]:
# Your code here:

ttest_ind(pokemon_water['Total'], pokemon_not_water['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:

print("Que no se puede rechazar la hipotesis dula porq el valor es menor de 0.05")

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [91]:
# Your code here:

from scipy.stats import ttest_rel

ataque_vs_defensa=ttest_rel(pokemon['Attack'],pokemon['Defense'])
print(ataque_vs_defensa)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [93]:
# Your conclusions here:
print("Podemos rechazar la hipotesis nula porq el valor es menor que p=0.05")

Podemos rechazar la hipotesis nula porq el valor es menor que p=0.05

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [94]:
# Your code here:
spatt_vs_spdef=ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])
print(spatt_vs_spdef)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
print("Podemos aceptar la hipotesis nula porq el valor es mayor que p=0.05")

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [92]:
# Your code here:
    
from scipy.stats import ttest_1samp
ttest_1samp(pokemon['Attack']-pokemon['Defense'],0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [95]:
# Your code here:

pokemon_cross=pd.crosstab(pokemon['Legendary'], pokemon["Type 1"])
print(pokemon_cross)

Type 1     Bug  Dark  Dragon  Electric  Fairy  Fighting  Fire  Flying  Ghost  \
Legendary
False       69    29      20        40     16        27    47       2     30
True         0     2      12         4      1         0     5       2      2

Type 1     Grass  Ground  Ice  Normal  Poison  Psychic  Rock  Steel  Water
Legendary
False         67      28   22      96      28       43    40     23    108
True           3       4    2       2       0       14     4      4      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [98]:
# Your code here:

from scipy.stats import chi2_contingency
chi2, p, dof, ex=chi2_contingency(pokemon_cross)
print(chi2_contingency(pokemon_cross))
print(p)

(90.4204913058596, 5.118547414721704e-12, 17, array([[ 63.39375,  28.48125,  29.4    ,  40.425  ,  15.61875,  24.80625,
         47.775  ,   3.675  ,  29.4    ,  64.3125 ,  29.4    ,  22.05   ,
         90.0375 ,  25.725  ,  52.36875,  40.425  ,  24.80625, 102.9    ],
       [  5.60625,   2.51875,   2.6    ,   3.575  ,   1.38125,   2.19375,
          4.225  ,   0.325  ,   2.6    ,   5.6875 ,   2.6    ,   1.95   ,
          7.9625 ,   2.275  ,   4.63125,   3.575  ,   2.19375,   9.1    ]]))
5.118547414721704e-12

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:

print("La podemos rechazar porque el valor p es menor que 0.05")