In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(('./input/GSAF5.csv'), encoding = 'ISO-8859-1')
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [3]:
clean_df = df.drop(['pdf','href formula', 'href'], axis = 1)
clean_df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,FATAL,Y,15h40,NaN,"TVANouvelles, 9/6/2016",2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF",2016.09.05.b,2016.09.05.b,5984,NaN,NaN
10,2016.09.05.a,05-Sep-16,2016,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,...,"No inury, board broken in half by shark",N,Late afternoon,NaN,"Perth Now, 9/5/2016",2016.09.05.a,2016.09.05.a,5983,NaN,NaN
11,2016.09.04,04-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,Austin Moore,M,...,Foot bitten,N,NaN,NaN,"Orlando Sentinel, 9/7/2016",2016.09.04,2016.09.04,5982,NaN,NaN
12,2016.09.01,01-Sep-16,2016,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,Tyler McQuillen,M,...,Two toes broken & lacerated,N,NaN,White shark,"R. Collier, GSAF",2016.09.01,2016.09.01,5981,NaN,NaN
13,2016.08.29.b,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Sam Cumiskey,M,...,Lacerations to right foot,N,15h00,"Bull shark, 6'","News Channel 8, 8/30/16",2016.08.29.b,2016.08.29.b,5980,NaN,NaN
14,2016.08.29.a,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Minor injury to ankle,N,14h00,NaN,"News Channel 8, 8/30/16",2016.08.29.a,2016.08.29.a,5979,NaN,NaN
15,2016.08.27,27-Aug-16,2016,Unprovoked,REUNION,NaN,Boucan Canot,Surfing,Laurent Chardard,M,...,"Right arm severed, ankle severely bitten",N,17h00,"Bull shark, 3.5 m","LaDepeche, 8/29/2016",2016.08.27,2016.08.27,5978,NaN,NaN
16,2016.08.25,25-Aug-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,David Cassetty,M,...,Minor injury to ankle,N,16h00,NaN,"First Coast News, 7/25/2016",2016.08.25,2016.08.25,5977,NaN,NaN
17,2016.08.07,07-Aug-16,2016,Unprovoked,BAHAMAS,New Providence Island,Nassau,Snorkeling,Johnny Stoch,M,...,Lacerations to left leg,N,NaN,NaN,"ABC, 8/11/2016",2016.08.07,2016.08.07,5976,NaN,NaN
18,2016.08.06,06-Aug-16,2016,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,...,"No inury, shark & board collided",N,NaN,"Tiger shark, 10'","SUP, 8/9/2015",2016.08.06,2016.08.06,5975,NaN,NaN
19,2016.08.04,04-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Nolan Tyler,M,...,Big toe bitten,N,NaN,Blacktip shark,"News 965, 8/5/2016",2016.08.04,2016.08.04,5974,NaN,NaN
20,2016.07.29,29-Jul-16,2016,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,...,Lacerations to right hand,N,11h30,Blue shark,"Informacion.es, 7/29/2016",2016.07.29,2016.07.29,5973,NaN,NaN
21,2016.07.28.R,28-Jul-16,2016,Unprovoked,CHINA,Hong Kong,NaN,Swimming,Justus Franz,M,...,Lacerations to leg,N,NaN,NaN,"Klassick, 7/28/2016",2016.07.28.R,2016.07.28.R,5972,NaN,NaN
22,2016.07.28,28-Jul-16,2016,Boat,AUSTRALIA,Western Australia,Near Albany,Kayaking,Ian Watkins,M,...,"No injury, shark nudged kayak repeatedly",N,NaN,White shark,"ABC Australia, 7/28/2016",2016.07.28,2016.07.28,5971,NaN,NaN
23,2016.07.27,27-Jul-16,2016,Provoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,Warren Sapp,M,...,Laceration to left forearm PROVOKED INCIDENT,N,NaN,"Nurse shark, 4'","Tampa Bay Times, 7/27/2016",2016.07.27,2016.07.27,5970,NaN,NaN
24,2016.07.26,26-Jul-16,2016,Unprovoked,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,Curran See & Harry Lake,M,...,"No injury. Leg rope severed, knocked off board...",N,12h00,NaN,"Gold Coast Bulletin, 7/28/2016",2016.07.26,2016.07.26,5969,NaN,NaN
25,2016.07.24,24-Jul-16,2016,Unprovoked,JAPAN,Kochi Prefecture,Irino Beach,Surfing,male,M,...,Lacerations to left leg,N,19h05,NaN,"Japan Times, 7/25/2016",2016.07.24,2016.07.24,5968,NaN,NaN
26,2016.07.23.b,23-Jul-16,2016,Unprovoked,AUSTRALIA,Tasmania,Clifton Beach,Surfing,Zebulon Critchlow,M,...,Calf bumped but no injury,N,NaN,NaN,"C. Black, GSAF",2016.07.23.b,2016.07.23.b,5967,NaN,NaN
27,2016.07.23.a,23-Jul-16,2016,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,Steve Cutbirth,M,...,Lacerations to face and right leg,N,NaN,"Bull shark, 6'","KWTX, 7/23/2016",2016.07.23.a,2016.07.23.a,5966,NaN,NaN
28,2016.07.20,20-Jul-16,2016,Provoked,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Fishing,Scott van Burck,M,...,Laceration to left calf from hooked shark PROV...,N,After noon,"reef shark, 1m","Nine News, 7/20/2016",2016.07.20,2016.07.20,5965,NaN,NaN
29,2016.07.17,17-Jul-16,2016,Boat,USA,Alabama,8 miles off Mobile,Fishing in Alabama Deep Fishing Rodeo,Occupant: Ben Raines,NaN,...,"No injury, shark bit trolling motor",N,NaN,"Tiger shark, 10'","Al.com, 7/19/2016",2016.07.17,2016.07.17,5964,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,ND.0031,World War II,0,Sea Disaster,PAPUA NEW GUINEA,Madang Province,Off Lae,"Aircraft ditched in the sea, swimming ashore",male,M,...,Shark bumped him,N,NaN,NaN,"V.M. Coppleson (1962), p.257",ND.0031,ND.0031,31,NaN,NaN
5963,ND.0030,Before 1905,0,Unprovoked,BURMA,NaN,NaN,Bathing,male,M,...,Fatal x 2,Y,NaN,NaN,"Massillon Independent, 3/1905",ND.0030,ND.0030,30,NaN,NaN
5964,ND.0028,A few years before 1938,0,Boat,ITALY,Adriatic Sea,NaN,Wooden fishing boat,Occupant: Mr. Maciotta,M,...,No injury to occupant; shark capsized boat,N,NaN,White shark,A. De Maddalena; Anon. (1938),ND.0028,ND.0028,29,NaN,NaN
5965,ND.0027,No date,0,Unprovoked,GREECE,Dodecanese Islands,Symi Island,Sponge diving,Psarofa-gomenes,M,...,Head bitten,N,NaN,NaN,M. N. Kalafatas,ND.0027,ND.0027,28,NaN,NaN
5966,ND.0026,Early 1930s,0,Unprovoked,BELIZE,NaN,NaN,Standing,a servant,M,...,FATAL,Y,NaN,12' tiger shark,Mitchell-Hedges,ND.0026,ND.0026,27,NaN,NaN
5967,ND.0025,Before 1927,0,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,"male, the Sergeant of Marines",M,...,NaN,UNKNOWN,NaN,NaN,H. Capper,ND.0025,ND.0025,26,NaN,NaN
5968,ND.0024,Between 1918 & 1939,0,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,...,FATAL,Y,NaN,NaN,G. Van Grevelynghe,ND.0024,ND.0024,25,NaN,NaN
5969,ND.0023,No date,0,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,Madelaine Dalton,F,...,Ankle bitten,N,NaN,NaN,"L. Green in Tavern of the Seas, p.182",ND.0023,ND.0023,24,NaN,NaN
5970,ND.0022,No date,0,Unprovoked,AUSTRALIA,NaN,NaN,Pearl diving,Jaringoorli,M,...,Lacerations to thigh,N,NaN,NaN,"Adelaide Advertiser, 1/11/1940",ND.0022,ND.0022,23,NaN,NaN
5971,ND.0021,No date,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,Indian boy,M,...,"FATAL, leg severed",Y,NaN,NaN,"L. Green in South African Beachcomber, p.97",ND.0021,ND.0021,22,NaN,NaN
5972,ND.0020,1920 -1923,0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,...,FATAL,Y,NaN,NaN,"V.M. Coppleson (1958), p.241",ND.0020,ND.0020,21,NaN,NaN
5973,ND.0019,Before 1921,0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,James Kelley,M,...,2-inch lacerations,N,NaN,NaN,"T. Helm, p.219",ND.0019,ND.0019,20,NaN,NaN
5974,ND.0018,Before 1911,0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,V?ng TÃ u,Swimming around anchored ship,crewman,M,...,Foot bitten,N,NaN,NaN,"Daily Kennebec Journal, 3/27/1911",ND.0018,ND.0018,19,NaN,NaN
5975,ND.0017,Before 1921,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,...,FATAL,Y,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192...",ND.0017,ND.0017,18,NaN,NaN
5976,ND.0016,Before 1921,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,male,M,...,FATAL,Y,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192...",ND.0016,ND.0016,17,NaN,NaN
5977,ND.0015,Before 1917,0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,20 Fijians,NaN,...,"FATAL, 18 people were killed by sharks, 2 sur...",Y,NaN,NaN,"Fijian Society papers presented April 17, 1918...",ND.0015,ND.0015,16,NaN,NaN
5978,ND.0014,Before 17-Jul-1916,0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,...,"""Lost leg""",N,NaN,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND.0014,ND.0014,15,NaN,NaN
5979,ND.0013,No date (3 days after preceding incident) & pr...,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,...,"FATAL, body not recovered but shark was caught...",Y,NaN,NaN,"Rural New Yorker, 7/19/1913",ND.0013,ND.0013,14,NaN,NaN
5980,ND.0012,Before 19-Jul-1913,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,...,"FATAL, leg stripped of flesh",Y,NaN,NaN,"Rural New Yorker, 7/19/1913",ND.0012,ND.0012,13,NaN,NaN
5981,ND.0011,Before 1911,0,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,...,Foot severed,N,NaN,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911",ND.0011,ND.0011,12,NaN,NaN
5982,ND.0010,Circa 1862,0,Unprovoked,USA,Hawaii,Puna,NaN,A chiefess,F,...,Ankle bitten,N,NaN,NaN,Captain W. Young,ND.0010,ND.0010,11,NaN,NaN
5983,ND.0009,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,...,"FATAL, knocked overboard by tail of shark & ca...",Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND.0009,ND.0009,10,NaN,NaN
5984,ND.0008,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,FATAL,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND.0008,ND.0008,9,NaN,NaN
5985,ND.0007,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,FATAL,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND.0007,ND.0007,8,NaN,NaN
5986,ND.0006,Before 1906,0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,FATAL,Y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND.0006,ND.0006,7,NaN,NaN
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,...,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND.0001,ND.0001,2,NaN,NaN

In [4]:
null_cols = clean_df.isnull().sum()
null_cols

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [5]:
clean_df.shape

(5992, 21)

In [6]:
#selecciono los datos que quiero utilizar. En este caso, quiero conocer si hace aÃ±os los tiburones atacaban mÃ¡s a las personas que acualmente
interest_data = clean_df[['Year','Date', 'Type', 'Injury','Fatal (Y/N)']]
interest_data

,Year,Date,Type,Injury,Fatal (Y/N)
0,2016,18-Sep-16,Unprovoked,Minor injury to thigh,N
1,2016,18-Sep-16,Unprovoked,Lacerations to hands,N
2,2016,18-Sep-16,Unprovoked,Lacerations to lower leg,N
3,2016,17-Sep-16,Unprovoked,Struck by fin on chest & leg,N
4,2016,16-Sep-16,Unprovoked,No injury: Knocked off board by shark,N
5,2016,15-Sep-16,Boat,Shark rammed boat. No injury to occupant,N
6,2016,11-Sep-16,Unprovoked,Minor injury to arm,N
7,2016,07-Sep-16,Unprovoked,Severe lacerations to shoulder & forearm,N
8,2016,06-Sep-16,Unprovoked,FATAL,Y
9,2016,05-Sep-16,Unprovoked,Lacerations & punctures to lower right leg,N
10,2016,05-Sep-16,Unprovoked,"No inury, board broken in half by shark",N
11,2016,04-Sep-16,Unprovoked,Foot bitten,N
12,2016,01-Sep-16,Unprovoked,Two toes broken & lacerated,N
13,2016,29-Aug-16,Unprovoked,Lacerations to right foot,N
14,2016,29-Aug-16,Unprovoked,Minor injury to ankle,N
15,2016,27-Aug-16,Unprovoked,"Right arm severed, ankle severely bitten",N
16,2016,25-Aug-16,Unprovoked,Minor injury to ankle,N
17,2016,07-Aug-16,Unprovoked,Lacerations to left leg,N
18,2016,06-Aug-16,Unprovoked,"No inury, shark & board collided",N
19,2016,04-Aug-16,Unprovoked,Big toe bitten,N
20,2016,29-Jul-16,Unprovoked,Lacerations to right hand,N
21,2016,28-Jul-16,Unprovoked,Lacerations to leg,N
22,2016,28-Jul-16,Boat,"No injury, shark nudged kayak repeatedly",N
23,2016,27-Jul-16,Provoked,Laceration to left forearm PROVOKED INCIDENT,N
24,2016,26-Jul-16,Unprovoked,"No injury. Leg rope severed, knocked off board...",N
25,2016,24-Jul-16,Unprovoked,Lacerations to left leg,N
26,2016,23-Jul-16,Unprovoked,Calf bumped but no injury,N
27,2016,23-Jul-16,Unprovoked,Lacerations to face and right leg,N
28,2016,20-Jul-16,Provoked,Laceration to left calf from hooked shark PROV...,N
29,2016,17-Jul-16,Boat,"No injury, shark bit trolling motor",N
...,...,...,...,...,...
5962,0,World War II,Sea Disaster,Shark bumped him,N
5963,0,Before 1905,Unprovoked,Fatal x 2,Y
5964,0,A few years before 1938,Boat,No injury to occupant; shark capsized boat,N
5965,0,No date,Unprovoked,Head bitten,N
5966,0,Early 1930s,Unprovoked,FATAL,Y
5967,0,Before 1927,Unprovoked,NaN,UNKNOWN
5968,0,Between 1918 & 1939,Unprovoked,FATAL,Y
5969,0,No date,Unprovoked,Ankle bitten,N
5970,0,No date,Unprovoked,Lacerations to thigh,N
5971,0,No date,Unprovoked,"FATAL, leg severed",Y
5972,0,1920 -1923,Unprovoked,FATAL,Y
5973,0,Before 1921,Unprovoked,2-inch lacerations,N
5974,0,Before 1911,Unprovoked,Foot bitten,N
5975,0,Before 1921,Unprovoked,FATAL,Y
5976,0,Before 1921,Unprovoked,FATAL,Y
5977,0,Before 1917,Unprovoked,"FATAL, 18 people were killed by sharks, 2 sur...",Y
5978,0,Before 17-Jul-1916,Unprovoked,"""Lost leg""",N
5979,0,No date (3 days after preceding incident) & pr...,Unprovoked,"FATAL, body not recovered but shark was caught...",Y
5980,0,Before 19-Jul-1913,Unprovoked,"FATAL, leg stripped of flesh",Y
5981,0,Before 1911,Unprovoked,Foot severed,N
5982,0,Circa 1862,Unprovoked,Ankle bitten,N
5983,0,Before 1906,Unprovoked,"FATAL, knocked overboard by tail of shark & ca...",Y
5984,0,Before 1906,Unprovoked,FATAL,Y
5985,0,Before 1906,Unprovoked,FATAL,Y
5986,0,Before 1906,Unprovoked,FATAL,Y
5987,0,Before 1903,Unprovoked,FATAL,Y
5988,0,Before 1903,Unprovoked,FATAL,Y
5989,0,1900-1905,Unprovoked,FATAL,Y
5990,0,1883-1889,Unprovoked,FATAL,Y
5991,0,1845-1853,Unprovoked,"FATAL. ""Shark bit him in half, carrying away t...",Y

In [12]:
#querÃ­a valorar si los tiburones matan a mÃ¡s gente pero los datos estÃ¡n incompletos, asÃ­ que tendremos que centrarnos en si los tiburones atacan mÃ¡s
interest_data[~interest_data['Fatal (Y/N)'].isin(['Y', 'N'])]

#limpieza de "fatal"
fatal = "Fatal (Y/N)"
cleanFatal = interest_data[fatal]
cleanFatal.value_counts()

#extraemos la primera conclusiÃ³n: la mayorÃ­a de los ataques de tiburones no son fatales
#para mejorar la base de datos, unificaremos los valores

interest_data['Fatal (Y/N)'] = interest_data['Fatal (Y/N)'].str.replace(' ', '').str.replace('F','Y').str.replace('#VALUE!','UNKNOWN').str.replace('n','N')
interest_data['Fatal (Y/N)'].value_counts()

C:\Users\David\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

N          4325
Y          1553
UNKNOWN      68
Name: Fatal (Y/N), dtype: int64

In [8]:
#vamos a curiosear para ver quÃ© valores podemos seguir agrupando
pd.DataFrame(df["Date"].value_counts())

                      Date
1957                    11
1942                     9
1956                     8
1958                     7
1941                     7
1950                     7
1949                     6
No date                  6
1954                     5
Aug-56                   5
05-Oct-03                5
Oct-60                   5
1955                     5
1940                     5
No date, Before 1963     5
12-Apr-01                5
28-Jul-95                5
1959                     5
1970s                    5
1960                     4
1876                     4
28-Dec-14                4
27-Dec-08                4
1952                     4
1938                     4
23-Jan-70                4
09-Jul-94                4
1961                     4
20-Sep-15                4
1995                     4
...                    ...
02-Sep-62                1
07-Jun-97                1
14-Aug-1888              1
10-Aug-86                1
Jun-51                   1
01-Aug-09                1
Reported 02-Jan-1961     1
29-May-11                1
Reported 20-Jan-1875     1
04-Feb-05                1
20-Jul-02                1
15-May-16                1
Jan-91                   1
30-Nov-1856              1
Reported 13-May-1947     1
20-Aug-87                1
07-Apr-96                1
06-Oct-76                1
15-Sep-54                1
22-Mar-12                1
16-Jun-02                1
31-May-14                1
09-Jul-50                1
06-Jun-89                1
08-Mar-81                1
31-Dec-72                1
26-Dec-1845              1
02-Jul-13                1
Reported 15-Jul-1874     1
19-Dec-1852              1

[5128 rows x 1 columns]

In [20]:
dfActivity = clean_df['Activity']
dfActivity.value_counts().head(10)

Surfing         904
Swimming        819
Fishing         414
Spearfishing    321
Bathing         153
Wading          144
Diving          123
Standing         97
Snorkeling       77
Scuba diving     74
Name: Activity, dtype: int64