#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [3]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [4]:



"""
con = pymysql.connect(host='relational.fit.cvut.cz',
                             user='guest',
                             password='relational',                             
                             cursorclass=pymysql.cursors.DictCursor)"""


#engine = db.create_engine('dialect+driver://user:pass@host:port/db'
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')
print("Connected to server")

Connected to server

#### 4. Import the users table

In [5]:
query = "SELECT * FROM users"

df_users = pd.read_sql_query(query, engine)
display(df_users)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41.0,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28.0,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36.0,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44.0,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40.0,None
10,12,101,2010-07-19 19:06:34,Jin,2014-09-09 20:26:03,http://www.8164.org,"Raleigh, NC",<p>I design stuff for Stack Exchange. Also a p...,10,5,0,21721,38.0,None
11,13,817,2010-07-19 19:06:49,Sharpie,2014-08-14 17:28:14,http://www.sharpsteen.net,United States,Undergraduate studying Environmental Engineeri...,178,44,1,46029,28.0,None
12,15,11,2010-07-19 19:07:32,hannes.koller,2010-08-24 14:23:18,http://soma.denkt.org,"Vienna, Austria",None,8,0,0,189902,35.0,None
13,16,101,2010-07-19 19:08:13,slashnick,2010-08-19 20:40:59,None,"London, United Kingdom",None,4,7,0,10996,31.0,None
14,17,345,2010-07-19 19:08:28,Random,2010-09-10 07:34:36,None,None,None,14,13,1,509454,NaN,None
15,18,128,2010-07-19 19:08:29,grokus,2012-08-09 15:02:00,http://wikipedia.org,United States,<p>Software engineer.</p>\n,8,16,0,69872,44.0,None
16,19,101,2010-07-19 19:08:45,Noah Snyder,2012-06-17 15:53:43,http://sbseminar.wordpress.com,"New York, NY",<p>I'm an assistant professor in mathematics a...,13,2,0,501919,34.0,None
17,21,101,2010-07-19 19:08:56,Waleed Al-Balooshi,2011-09-26 02:28:45,None,Michigan,None,6,0,0,40640,33.0,None
18,22,591,2010-07-19 19:09:00,radek,2014-09-11 15:21:01,None,"Berne, Switzerland",<p>Researcher in spatial epidemiology &amp; GI...,90,693,6,124416,NaN,None
19,23,308,2010-07-19 19:09:16,Jay Stevens,2014-08-11 19:51:32,http://www.centerlinescores.com,None,<p>I design and build Grant and Program manage...,52,34,1,21565,46.0,None
20,24,344,2010-07-19 19:09:32,A Lion,2011-12-06 04:21:56,None,None,None,48,36,1,85249,NaN,None
21,25,4968,2010-07-19 19:09:32,Harvey Motulsky,2014-09-13 21:51:42,http://www.graphpad.com,Santa Monica CA,"<p>I am the founder and CEO of <a href=""http:/...",641,328,23,504968,62.0,None
22,26,3150,2010-07-19 19:09:39,JMS,2014-09-13 04:03:25,None,None,None,257,138,7,134002,NaN,None
23,27,101,2010-07-19 19:09:41,balpha,2014-04-14 14:57:17,http://balpha.de/,"Berlin, Germany",<p>My name is Benjamin Dumke-von der Ehe. I am...,10,2,0,40051,34.0,None
24,29,2250,2010-07-19 19:09:42,JD Long,2014-08-11 19:14:03,http://cerebralmastication.com,"Chicago, IL",I'm a data guy not a programmer. But sometimes...,318,28,1,17035,42.0,None
25,30,2185,2010-07-19 19:10:15,gappy,2014-08-27 20:06:28,http://www.twitter.com/gappy3000,"New York, NY",<p>Interested primarily in econometric analysi...,312,40,3,48399,NaN,None
26,33,221,2010-07-19 19:11:08,James Roth,2014-09-08 21:15:20,None,None,None,11,2,0,137440,NaN,None
27,34,185,2010-07-19 19:11:11,Christopher D. Long,2014-09-13 00:02:35,http://angrystatistician.blogspot.com,"Versailles, KY",<p>Consulting analyst for the San Diego Padres...,27,23,0,509455,NaN,http://i.stack.imgur.com/km1pr.jpg
28,35,101,2010-07-19 19:11:38,adi92,2014-08-13 06:05:38,http://www.contrib.andrew.cmu.edu/~amukherj/,"Pittsburgh, PA",None,4,9,0,13043,26.0,None
29,36,1570,2010-07-19 19:11:52,Stephen Turner,2014-08-29 15:17:07,http://gettinggeneticsdone.blogspot.com/,"Nashville, TN",<p>I'm finishing up my Ph.D. in Human Genetics...,173,26,1,330276,31.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40295,55718,6,2014-09-13 07:12:49,Amena,2014-09-13 07:12:49,None,None,None,0,0,0,5024818,NaN,None
40296,55719,1,2014-09-13 07:19:09,OGUNNUSI OLUWATOBI,2014-09-13 08:03:19,None,None,None,1,0,0,5024833,NaN,None
40297,55720,1,2014-09-13 08:00:08,Rebecca,2014-09-13 08:00:08,None,None,None,0,0,0,5024897,NaN,https://www.gravatar.com/avatar/2bc72d263cc5a8...
40298,55721,101,2014-09-13 08:15:38,Lotte Laat,2014-09-13 08:15:38,None,"Tilburg, Netherlands","<p>I like maths, swimming, food and penguins!<...",0,1,0,1402294,23.0,https://www.gravatar.com/avatar/a52832f3202953...
40299,55722,1,2014-09-13 08:32:22,WojciechF,2014-09-13 08:32:22,http://about.me/wojciechfrancuzik,None,"<p>MD mesmerized by data science, TeX user, R ...",0,0,0,3943551,NaN,https://www.gravatar.com/avatar/285ba1e160c296...
40300,55723,1,2014-09-13 09:29:38,Davidson Salvia Jr.,2014-09-13 09:29:38,None,None,None,0,0,0,5025125,NaN,http://graph.facebook.com/100000041001887/pict...
40301,55724,16,2014-09-13 09:50:11,ouroboros,2014-09-13 10:05:17,None,None,<p>I'm a self-taught programmer and linux powe...,1,0,0,3620179,NaN,https://www.gravatar.com/avatar/1f8dbbc900087e...
40302,55725,1,2014-09-13 09:53:01,Jatin Baveja,2014-09-13 15:25:42,None,None,None,0,0,0,5025186,NaN,https://lh3.googleusercontent.com/-8iERz9S6Zr8...
40303,55726,1,2014-09-13 09:54:27,SuPakarn Junfang,2014-09-13 13:10:43,None,None,None,0,0,0,5025192,NaN,https://lh6.googleusercontent.com/--7hwjXqt-Zs...
40304,55727,1,2014-09-13 10:03:06,biggvsdiccvs,2014-09-13 10:03:06,None,None,None,0,0,0,3293263,NaN,https://www.gravatar.com/avatar/c9e31787de1366...
40305,55728,1,2014-09-13 10:48:35,user56299,2014-09-13 10:48:35,None,None,None,0,0,0,3808774,NaN,None
40306,55729,16,2014-09-13 11:04:54,Achim Zeileis,2014-09-13 12:15:21,None,None,None,1,0,0,5025362,NaN,None
40307,55730,1,2014-09-13 12:01:38,quants_mum,2014-09-13 12:01:38,None,None,None,0,0,0,5025477,NaN,None
40308,55731,1,2014-09-13 15:23:34,Kiran BM,2014-09-13 20:51:55,None,None,None,0,0,0,5025991,NaN,None
40309,55732,101,2014-09-13 15:31:37,Szilárd Pfeiffer,2014-09-13 15:31:37,http://www.pfeifferszilard.hu,Hungary,None,0,0,0,1447761,36.0,https://www.gravatar.com/avatar/70c18b82b058c1...
40310,55733,6,2014-09-13 15:51:18,Pax,2014-09-13 23:57:22,None,None,None,1,0,0,5026082,NaN,https://www.gravatar.com/avatar/d9b1e7660eb8ed...
40311,55734,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,None,None,None,0,0,0,5026094,NaN,None
40312,55735,1,2014-09-13 16:21:29,Mukund,2014-09-13 16:21:29,None,None,None,0,0,0,3335078,NaN,https://www.gravatar.com/avatar/072b4df5e16f4e...
40313,55736,1,2014-09-13 16:29:11,liszt,2014-09-13 16:29:11,None,None,None,0,0,0,510194,NaN,http://i.stack.imgur.com/AvRzI.jpg?s=128&g=1
40314,55737,1,2014-09-13 17:53:27,oolusola,2014-09-13 17:53:27,None,None,None,0,0,0,5026427,NaN,None
40315,55738,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,None,None,None,0,0,0,5026468,NaN,None
40316,55739,1,2014-09-13 19:06:17,kpivert,2014-09-13 19:06:17,None,None,None,0,0,0,5026613,NaN,https://www.gravatar.com/avatar/93313f90fbaf1e...
40317,55740,1,2014-09-13 19:12:19,Nikkolasg,2014-09-13 19:46:29,None,None,<p>Be the change that you want to see in the w...,0,0,0,1239737,NaN,https://www.gravatar.com/avatar/cbae78493ed218...
40318,55741,101,2014-09-13 20:19:48,Jutschge,2014-09-13 20:19:48,None,Switzerland,None,0,1,0,3142440,NaN,https://www.gravatar.com/avatar/89f8e6f01faafa...
40319,55742,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,None,None,None,0,0,0,5026843,NaN,None
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 5. Rename Id column to userId

In [6]:


#Le dices el nombre de la columna que quieres cambiar por el nombre nuevo 
df_users= df_users.rename(columns = {'Id':'userId'})

display(df_users)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41.0,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28.0,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36.0,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44.0,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40.0,None
10,12,101,2010-07-19 19:06:34,Jin,2014-09-09 20:26:03,http://www.8164.org,"Raleigh, NC",<p>I design stuff for Stack Exchange. Also a p...,10,5,0,21721,38.0,None
11,13,817,2010-07-19 19:06:49,Sharpie,2014-08-14 17:28:14,http://www.sharpsteen.net,United States,Undergraduate studying Environmental Engineeri...,178,44,1,46029,28.0,None
12,15,11,2010-07-19 19:07:32,hannes.koller,2010-08-24 14:23:18,http://soma.denkt.org,"Vienna, Austria",None,8,0,0,189902,35.0,None
13,16,101,2010-07-19 19:08:13,slashnick,2010-08-19 20:40:59,None,"London, United Kingdom",None,4,7,0,10996,31.0,None
14,17,345,2010-07-19 19:08:28,Random,2010-09-10 07:34:36,None,None,None,14,13,1,509454,NaN,None
15,18,128,2010-07-19 19:08:29,grokus,2012-08-09 15:02:00,http://wikipedia.org,United States,<p>Software engineer.</p>\n,8,16,0,69872,44.0,None
16,19,101,2010-07-19 19:08:45,Noah Snyder,2012-06-17 15:53:43,http://sbseminar.wordpress.com,"New York, NY",<p>I'm an assistant professor in mathematics a...,13,2,0,501919,34.0,None
17,21,101,2010-07-19 19:08:56,Waleed Al-Balooshi,2011-09-26 02:28:45,None,Michigan,None,6,0,0,40640,33.0,None
18,22,591,2010-07-19 19:09:00,radek,2014-09-11 15:21:01,None,"Berne, Switzerland",<p>Researcher in spatial epidemiology &amp; GI...,90,693,6,124416,NaN,None
19,23,308,2010-07-19 19:09:16,Jay Stevens,2014-08-11 19:51:32,http://www.centerlinescores.com,None,<p>I design and build Grant and Program manage...,52,34,1,21565,46.0,None
20,24,344,2010-07-19 19:09:32,A Lion,2011-12-06 04:21:56,None,None,None,48,36,1,85249,NaN,None
21,25,4968,2010-07-19 19:09:32,Harvey Motulsky,2014-09-13 21:51:42,http://www.graphpad.com,Santa Monica CA,"<p>I am the founder and CEO of <a href=""http:/...",641,328,23,504968,62.0,None
22,26,3150,2010-07-19 19:09:39,JMS,2014-09-13 04:03:25,None,None,None,257,138,7,134002,NaN,None
23,27,101,2010-07-19 19:09:41,balpha,2014-04-14 14:57:17,http://balpha.de/,"Berlin, Germany",<p>My name is Benjamin Dumke-von der Ehe. I am...,10,2,0,40051,34.0,None
24,29,2250,2010-07-19 19:09:42,JD Long,2014-08-11 19:14:03,http://cerebralmastication.com,"Chicago, IL",I'm a data guy not a programmer. But sometimes...,318,28,1,17035,42.0,None
25,30,2185,2010-07-19 19:10:15,gappy,2014-08-27 20:06:28,http://www.twitter.com/gappy3000,"New York, NY",<p>Interested primarily in econometric analysi...,312,40,3,48399,NaN,None
26,33,221,2010-07-19 19:11:08,James Roth,2014-09-08 21:15:20,None,None,None,11,2,0,137440,NaN,None
27,34,185,2010-07-19 19:11:11,Christopher D. Long,2014-09-13 00:02:35,http://angrystatistician.blogspot.com,"Versailles, KY",<p>Consulting analyst for the San Diego Padres...,27,23,0,509455,NaN,http://i.stack.imgur.com/km1pr.jpg
28,35,101,2010-07-19 19:11:38,adi92,2014-08-13 06:05:38,http://www.contrib.andrew.cmu.edu/~amukherj/,"Pittsburgh, PA",None,4,9,0,13043,26.0,None
29,36,1570,2010-07-19 19:11:52,Stephen Turner,2014-08-29 15:17:07,http://gettinggeneticsdone.blogspot.com/,"Nashville, TN",<p>I'm finishing up my Ph.D. in Human Genetics...,173,26,1,330276,31.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40295,55718,6,2014-09-13 07:12:49,Amena,2014-09-13 07:12:49,None,None,None,0,0,0,5024818,NaN,None
40296,55719,1,2014-09-13 07:19:09,OGUNNUSI OLUWATOBI,2014-09-13 08:03:19,None,None,None,1,0,0,5024833,NaN,None
40297,55720,1,2014-09-13 08:00:08,Rebecca,2014-09-13 08:00:08,None,None,None,0,0,0,5024897,NaN,https://www.gravatar.com/avatar/2bc72d263cc5a8...
40298,55721,101,2014-09-13 08:15:38,Lotte Laat,2014-09-13 08:15:38,None,"Tilburg, Netherlands","<p>I like maths, swimming, food and penguins!<...",0,1,0,1402294,23.0,https://www.gravatar.com/avatar/a52832f3202953...
40299,55722,1,2014-09-13 08:32:22,WojciechF,2014-09-13 08:32:22,http://about.me/wojciechfrancuzik,None,"<p>MD mesmerized by data science, TeX user, R ...",0,0,0,3943551,NaN,https://www.gravatar.com/avatar/285ba1e160c296...
40300,55723,1,2014-09-13 09:29:38,Davidson Salvia Jr.,2014-09-13 09:29:38,None,None,None,0,0,0,5025125,NaN,http://graph.facebook.com/100000041001887/pict...
40301,55724,16,2014-09-13 09:50:11,ouroboros,2014-09-13 10:05:17,None,None,<p>I'm a self-taught programmer and linux powe...,1,0,0,3620179,NaN,https://www.gravatar.com/avatar/1f8dbbc900087e...
40302,55725,1,2014-09-13 09:53:01,Jatin Baveja,2014-09-13 15:25:42,None,None,None,0,0,0,5025186,NaN,https://lh3.googleusercontent.com/-8iERz9S6Zr8...
40303,55726,1,2014-09-13 09:54:27,SuPakarn Junfang,2014-09-13 13:10:43,None,None,None,0,0,0,5025192,NaN,https://lh6.googleusercontent.com/--7hwjXqt-Zs...
40304,55727,1,2014-09-13 10:03:06,biggvsdiccvs,2014-09-13 10:03:06,None,None,None,0,0,0,3293263,NaN,https://www.gravatar.com/avatar/c9e31787de1366...
40305,55728,1,2014-09-13 10:48:35,user56299,2014-09-13 10:48:35,None,None,None,0,0,0,3808774,NaN,None
40306,55729,16,2014-09-13 11:04:54,Achim Zeileis,2014-09-13 12:15:21,None,None,None,1,0,0,5025362,NaN,None
40307,55730,1,2014-09-13 12:01:38,quants_mum,2014-09-13 12:01:38,None,None,None,0,0,0,5025477,NaN,None
40308,55731,1,2014-09-13 15:23:34,Kiran BM,2014-09-13 20:51:55,None,None,None,0,0,0,5025991,NaN,None
40309,55732,101,2014-09-13 15:31:37,Szilárd Pfeiffer,2014-09-13 15:31:37,http://www.pfeifferszilard.hu,Hungary,None,0,0,0,1447761,36.0,https://www.gravatar.com/avatar/70c18b82b058c1...
40310,55733,6,2014-09-13 15:51:18,Pax,2014-09-13 23:57:22,None,None,None,1,0,0,5026082,NaN,https://www.gravatar.com/avatar/d9b1e7660eb8ed...
40311,55734,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,None,None,None,0,0,0,5026094,NaN,None
40312,55735,1,2014-09-13 16:21:29,Mukund,2014-09-13 16:21:29,None,None,None,0,0,0,3335078,NaN,https://www.gravatar.com/avatar/072b4df5e16f4e...
40313,55736,1,2014-09-13 16:29:11,liszt,2014-09-13 16:29:11,None,None,None,0,0,0,510194,NaN,http://i.stack.imgur.com/AvRzI.jpg?s=128&g=1
40314,55737,1,2014-09-13 17:53:27,oolusola,2014-09-13 17:53:27,None,None,None,0,0,0,5026427,NaN,None
40315,55738,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,None,None,None,0,0,0,5026468,NaN,None
40316,55739,1,2014-09-13 19:06:17,kpivert,2014-09-13 19:06:17,None,None,None,0,0,0,5026613,NaN,https://www.gravatar.com/avatar/93313f90fbaf1e...
40317,55740,1,2014-09-13 19:12:19,Nikkolasg,2014-09-13 19:46:29,None,None,<p>Be the change that you want to see in the w...,0,0,0,1239737,NaN,https://www.gravatar.com/avatar/cbae78493ed218...
40318,55741,101,2014-09-13 20:19:48,Jutschge,2014-09-13 20:19:48,None,Switzerland,None,0,1,0,3142440,NaN,https://www.gravatar.com/avatar/89f8e6f01faafa...
40319,55742,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,None,None,None,0,0,0,5026843,NaN,None
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 6. Import the posts table.

In [7]:
query = "SELECT * FROM posts"

df_pots = pd.read_sql_query(query, engine)
display(df_pots)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaT,None,None
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaT,None,None
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaT,NaN,2010-07-19 20:19:46,None,None
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,None,...,NaN,3,NaN,NaN,NaT,2010-07-19 19:16:27,3.0,NaT,None,None
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaT,NaN,NaT,None,None
10,11,1,1201.0,2010-07-19 19:18:30,2,224.0,"<p>Is there a good, modern treatment covering ...",34.0,2010-08-03 21:50:09,Multivariate Interpolation Approaches,...,1.0,2,1.0,34.0,2010-07-28 07:58:52,NaT,NaN,NaT,None,None
11,12,2,NaN,2010-07-19 19:18:41,20,NaN,"<p>See my response to <a href=""http://stackove...",5.0,2010-07-19 19:18:41,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:29:33,7.0,NaT,None,None
12,13,2,NaN,2010-07-19 19:18:56,14,NaN,<p>Machine Learning seems to have its basis in...,23.0,2010-07-19 19:18:56,None,...,NaN,4,NaN,NaN,NaT,NaT,6.0,NaT,None,None
13,14,2,NaN,2010-07-19 19:19:03,5,NaN,<p>I second that Jay. Why is R valuable? Here'...,36.0,2010-07-19 19:19:03,None,...,NaN,1,NaN,NaN,NaT,2010-07-19 19:19:03,3.0,NaT,None,None
14,15,2,NaN,2010-07-19 19:19:46,13,NaN,<p>John Cook gives some interesting recommenda...,6.0,2010-07-19 19:19:46,None,...,NaN,0,NaN,NaN,NaT,NaT,1.0,NaT,None,None
15,16,2,NaN,2010-07-19 19:22:31,16,NaN,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,8.0,2010-07-19 20:43:02,None,...,NaN,3,NaN,8.0,2010-07-19 20:43:02,2010-07-19 19:22:31,3.0,NaT,None,None
16,17,1,29.0,2010-07-19 19:24:12,9,1261.0,<p>I have four competing models which I use to...,NaN,2012-01-22 23:34:51,How can I adapt ANOVA for binary data?,...,1.0,0,1.0,7972.0,2012-01-22 23:34:51,NaT,NaN,NaT,user28,None
17,18,2,NaN,2010-07-19 19:24:18,31,NaN,<p>Also see the UCI machine learning Data Repo...,36.0,2010-07-19 19:24:18,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:31:32,7.0,NaT,None,None
18,19,2,NaN,2010-07-19 19:24:21,12,NaN,"<p><a href=""http://www.gapminder.org/data/"">Ga...",55.0,2010-07-19 19:24:21,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:45,7.0,NaT,None,None
19,20,2,NaN,2010-07-19 19:24:35,3,NaN,<p>The assumption of normality assumes your da...,37.0,2010-07-19 19:24:35,None,...,NaN,2,NaN,NaN,NaT,NaT,2.0,NaT,None,None
20,21,1,NaN,2010-07-19 19:24:36,4,184.0,<p>What are some of the ways to forecast demog...,59.0,2010-09-30 21:14:45,Forecasting demographic census,...,1.0,1,1.0,930.0,2010-09-30 21:14:45,NaT,NaN,NaT,None,None
21,22,1,NaN,2010-07-19 19:25:39,102,21916.0,<p>How would you describe in plain English the...,66.0,2014-06-05 02:06:32,Bayesian and frequentist reasoning in plain En...,...,15.0,1,67.0,930.0,2011-10-04 07:05:14,NaT,NaN,NaT,None,None
22,23,1,91.0,2010-07-19 19:26:04,10,7694.0,<p>How can I find the PDF (probability density...,69.0,2010-07-20 08:52:27,Finding the PDF given the CDF,...,2.0,1,2.0,NaN,NaT,NaT,NaN,NaT,None,None
23,24,2,NaN,2010-07-19 19:26:13,17,NaN,<p>For doing a variety of MCMC tasks in Python...,61.0,2010-07-19 19:26:13,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:26:13,3.0,NaT,None,None
24,25,1,32.0,2010-07-19 19:27:13,7,2095.0,<p>What modern tools (Windows-based) do you su...,69.0,2014-08-13 20:29:48,Tools for modeling financial time series,...,7.0,4,5.0,69.0,2010-07-26 23:38:29,2010-07-26 23:38:29,NaN,NaT,None,None
25,26,1,61.0,2010-07-19 19:27:43,18,3476.0,"<p>What is a standard deviation, how is it cal...",75.0,2013-07-30 10:19:04,What is a standard deviation?,...,8.0,14,7.0,22047.0,2013-07-30 10:19:04,NaT,NaN,NaT,None,None
26,27,2,NaN,2010-07-19 19:28:12,4,NaN,"<p><a href=""http://mathforum.org/workshops/sum...",68.0,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:55,7.0,NaT,None,None
27,28,2,NaN,2010-07-19 19:28:12,6,NaN,"<p><a href=""http://www.gnu.org/software/gsl/"" ...",NaN,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:28:12,3.0,NaT,user28,None
28,29,2,NaN,2010-07-19 19:28:15,5,NaN,<p>Contingency table (chi-square). Also Logist...,36.0,2010-07-19 19:28:15,None,...,NaN,0,NaN,NaN,NaT,NaT,17.0,NaT,None,None
29,30,1,55.0,2010-07-19 19:28:34,7,705.0,<p>Which methods are used for testing random v...,69.0,2011-05-12 18:38:27,Testing random variate generation algorithms,...,8.0,2,7.0,919.0,2010-08-25 14:12:54,NaT,NaN,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91946,115346,2,NaN,2014-09-13 13:15:18,0,NaN,"<p>First, let's try to simulate some data with...",42434.0,2014-09-13 13:15:18,None,...,NaN,0,NaN,NaN,NaT,NaT,113980.0,NaT,None,None
91947,115348,1,NaN,2014-09-13 15:17:03,0,18.0,"<p>In the game of Bridge, 52 cards are distrub...",55564.0,2014-09-13 16:25:32,Please help me interpret this goodness of fit ...,...,1.0,3,NaN,55564.0,2014-09-13 15:41:36,NaT,NaN,NaT,None,None
91948,115350,1,NaN,2014-09-13 15:26:01,0,3.0,<p>How do we specify negative costs in rpart? ...,55731.0,2014-09-13 15:26:01,Specifying negative costs (benefits) in rpart'...,...,0.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91949,115351,1,NaN,2014-09-13 15:32:18,1,9.0,<p>If one is conducting a survey in which all ...,7331.0,2014-09-13 15:43:23,Sampling frame of a voluntary survey,...,0.0,0,NaN,7290.0,2014-09-13 15:43:23,NaT,NaN,NaT,None,None
91950,115352,1,NaN,2014-09-13 15:56:55,0,16.0,"<p>For example, I was looking at <a href=""http...",55734.0,2014-09-13 16:15:30,Is there a way to estimate the distribution fr...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91951,115353,2,NaN,2014-09-13 16:15:30,0,NaN,<p>I have strong reservations about whether me...,7290.0,2014-09-13 16:15:30,None,...,NaN,0,NaN,NaN,NaT,NaT,115352.0,NaT,None,None
91952,115354,2,NaN,2014-09-13 16:25:32,2,NaN,"<p>If all the null hypotheses were true, 5% of...",805.0,2014-09-13 16:25:32,None,...,NaN,0,NaN,NaN,NaT,NaT,115348.0,NaT,None,None
91953,115355,1,NaN,2014-09-13 16:30:00,3,49.0,"<p>I have a methodological question, and there...",35413.0,2014-09-13 18:53:58,Adjust for everything you have in propensity s...,...,2.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91954,115356,1,NaN,2014-09-13 16:34:58,1,15.0,<p>I'm a beginner in statistics and I have to ...,55733.0,2014-09-13 20:45:45,"How to interpret glmer results (variance, corr...",...,0.0,0,NaN,55733.0,2014-09-13 20:45:45,NaT,NaN,NaT,None,None
91955,115357,2,NaN,2014-09-13 17:07:54,1,NaN,<p>I've personally been asking this question f...,44142.0,2014-09-13 17:07:54,None,...,NaN,0,NaN,NaN,NaT,NaT,115355.0,NaT,None,None
91956,115358,1,NaN,2014-09-13 17:29:23,2,15.0,<p>Are there any formulae for the quantiles of...,1569.0,2014-09-14 02:54:13,Quantiles of a compound gamma/negative binomia...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91957,115360,1,NaN,2014-09-13 18:06:50,2,40.0,<p>Is Student's t test a Wald test?</p>\n\n<p>...,55738.0,2014-09-13 18:06:50,Is Student's t test a Wald test?,...,0.0,4,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91958,115361,1,NaN,2014-09-13 18:36:36,0,12.0,"<p>Given the biometric match scores, I am requ...",55383.0,2014-09-13 18:36:36,Plotting of density estimates in matlab,...,0.0,1,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91959,115362,2,NaN,2014-09-13 18:44:31,2,NaN,"<p>Theoretical insight, institutional knowledg...",7071.0,2014-09-13 18:53:58,None,...,NaN,0,NaN,7071.0,2014-09-13 18:53:58,NaT,115355.0,NaT,None,None
91960,115363,2,NaN,2014-09-13 19:37:20,0,NaN,<p>I think I got a very simple answer.</p>\n\n...,2676.0,2014-09-13 19:37:20,None,...,NaN,0,NaN,NaN,NaT,NaT,115279.0,NaT,None,None
91961,115364,1,NaN,2014-09-13 19:50:17,0,11.0,<p>I'm trying to find the most similar sample ...,52858.0,2014-09-13 21:30:41,In search of a proper similarity function,...,0.0,3,NaN,52858.0,2014-09-13 21:30:41,NaT,NaN,NaT,None,None
91962,115365,2,NaN,2014-09-13 20:13:11,-1,NaN,<blockquote>\n <p>Is there some approach to u...,28236.0,2014-09-13 20:13:11,None,...,NaN,1,NaN,NaN,NaT,NaT,108430.0,NaT,None,None
91963,115366,1,NaN,2014-09-13 20:36:55,1,17.0,<p>Does any standard statistical software like...,55742.0,2014-09-13 23:18:30,Missing data analysis software,...,1.0,0,1.0,NaN,NaT,NaT,NaN,NaT,None,None
91964,115367,1,NaN,2014-09-13 20:57:24,1,97.0,<p>Jon and Frank ordered 2 footlong sandwiches...,41961.0,2014-09-14 02:05:41,How to add odds? (or how I got the wrong sandw...,...,3.0,0,NaN,919.0,2014-09-13 21:11:36,NaT,NaN,NaT,None,None
91965,115368,2,NaN,2014-09-13 21:01:39,4,NaN,<p>You need to multiply the probabilities with...,24808.0,2014-09-13 21:01:39,None,...,NaN,0,NaN,NaN,NaT,NaT,115367.0,NaT,None,None
91966,115369,2,NaN,2014-09-13 21:27:49,4,NaN,<p>Line up the four sandwiches in a row where ...,6633.0,2014-09-13 21:27:49,None,...,NaN,0,NaN,NaN,NaT,NaT,115367.0,NaT,None,None
91967,115370,1,NaN,2014-09-13 21:39:30,1,13.0,<p>im analyzing an article for my studies with...,55744.0,2014-09-13 21:39:30,Poisson regression,...,0.0,2,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91968,115371,1,NaN,2014-09-13 21:55:39,0,19.0,<p>I am trying to estimate the school effects ...,35801.0,2014-09-13 23:15:00,Estimation of school effects using xtmixed (in...,...,1.0,0,NaN,35801.0,2014-09-13 22:51:35,NaT,NaN,NaT,None,None
91969,115372,2,NaN,2014-09-13 23:15:00,0,NaN,<p>If prior to running the xtreg command you h...,48579.0,2014-09-13 23:15:00,None,...,NaN,9,NaN,NaN,NaT,NaT,115371.0,NaT,None,None
91970,115373,2,NaN,2014-09-13 23:18:30,0,NaN,"<p>Yes, the <a href=""http://cran.r-project.org...",48579.0,2014-09-13 23:18:30,None,...,NaN,0,NaN,NaN,NaT,NaT,115366.0,NaT,None,None
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [8]:
df_pots= df_pots.rename(columns = {'OwnerUserId':'userId'})
df_pots= df_pots.rename(columns = {'Id':'postId'})


display(df_pots["userId"])

0            8.0
1           24.0
2           18.0
3           23.0
4           23.0
          ...
91971      805.0
91972    49365.0
91973    55746.0
91974      805.0
91975     7250.0
Name: userId, Length: 91976, dtype: float64

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [9]:
colunms_new= ["userId", "Reputation","Views","UpVotes","DownVotes"]
new_df_users = df_users[colunms_new]
display(new_df_users)

colunms_new= ["postId", "Score","userId","ViewCount","CommentCount"]
new_df_pots = df_pots[colunms_new]
display(new_df_pots)

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [10]:
df_name_pots = new_df_users.merge(new_df_pots)

display(df_name_pots)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
5,-1,1,0,5007,1920,9857,0,NaN,0
6,-1,1,0,5007,1920,9858,0,NaN,0
7,-1,1,0,5007,1920,9860,0,NaN,0
8,-1,1,0,5007,1920,10130,0,NaN,0
9,-1,1,0,5007,1920,10131,0,NaN,0
10,-1,1,0,5007,1920,15331,0,NaN,0
11,-1,1,0,5007,1920,15332,0,NaN,0
12,-1,1,0,5007,1920,16296,0,NaN,0
13,-1,1,0,5007,1920,16366,0,NaN,0
14,-1,1,0,5007,1920,19423,0,NaN,0
15,-1,1,0,5007,1920,19848,0,NaN,0
16,-1,1,0,5007,1920,20259,0,NaN,0
17,-1,1,0,5007,1920,20261,0,NaN,0
18,-1,1,0,5007,1920,20262,0,NaN,0
19,-1,1,0,5007,1920,20263,0,NaN,0
20,-1,1,0,5007,1920,20264,0,NaN,0
21,-1,1,0,5007,1920,20485,0,NaN,0
22,-1,1,0,5007,1920,20487,0,NaN,0
23,-1,1,0,5007,1920,20489,0,NaN,0
24,-1,1,0,5007,1920,20490,0,NaN,0
25,-1,1,0,5007,1920,21497,0,NaN,0
26,-1,1,0,5007,1920,21795,0,NaN,0
27,-1,1,0,5007,1920,21856,0,NaN,0
28,-1,1,0,5007,1920,21860,0,NaN,0
29,-1,1,0,5007,1920,21861,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90554,55674,1,0,0,0,115228,0,22.0,1
90555,55676,1,1,0,0,115231,0,25.0,1
90556,55677,1,1,0,0,115232,0,28.0,2
90557,55679,1,0,0,0,115236,0,13.0,0
90558,55682,13,0,0,0,115246,2,20.0,0
90559,55684,6,0,0,0,115253,1,31.0,6
90560,55687,6,0,0,0,115264,1,35.0,0
90561,55689,6,0,0,0,115270,1,28.0,7
90562,55695,1,0,0,0,115278,0,4.0,0
90563,55697,1,0,0,0,115285,0,22.0,4
90564,55699,6,0,0,0,115287,1,23.0,6
90565,55702,26,1,0,0,115291,5,29.0,1
90566,55709,1,0,0,0,115312,0,6.0,0
90567,55710,1,0,0,0,115313,0,18.0,4
90568,55713,6,0,0,0,115315,1,36.0,2
90569,55714,6,0,0,0,115316,1,20.0,3
90570,55715,6,0,0,0,115321,1,9.0,0
90571,55718,6,0,0,0,115327,1,25.0,0
90572,55719,1,1,0,0,115328,0,10.0,0
90573,55720,1,0,0,0,115331,0,12.0,1
90574,55724,16,1,0,0,115335,3,19.0,1
90575,55729,16,1,0,0,115338,0,NaN,0
90576,55730,1,0,0,0,115340,0,18.0,1
90577,55731,1,0,0,0,115350,0,3.0,0
90578,55733,6,1,0,0,115356,1,15.0,0
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [48]:
total_nan = df_name_pots.isnull().sum()


print("En las siguientes columnas hay valores Nan",total_nan)

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64
En las siguientes columnas hay valores Nan userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [12]:
"""
bad_indexes = list(df_clean["cylinders"][df_clean["cylinders"].isnull()].index)
print(bad_indexes)



Esto devuelve las dimensionees de los errores, si se pone index al final, te sale ya las columnas
df_cols_nan = df_name_pots[df_name_pots['ViewCount'].isnull()]
print(cols_nan.shape)
-> (48396, 9)
"""


#Asi se cada una lista con los errores
cols_nan = list(df_name_pots['ViewCount'][df_name_pots['ViewCount'].isnull()].index)
print(len(cols_nan))


#Asi se cada una lista con los errores
cols_not_nan = list(df_name_pots['ViewCount'][df_name_pots['ViewCount'].notnull()].index)
print(len(cols_not_nan))

display(df_name_pots.iloc[cols_nan].head(50))
        
display(df_name_pots.iloc[cols_not_nan].head(50))


print("""Yo los llenaria con valores de 0, ya que la columna ViewCount es principalmente por las visitas.
Ya que las filas con NAN estos tienen en comun que tienen muy pocas visitas. 
En cambio las filas que no tienen valores NaN su reputación y sus vistas son muy altas""")

48396
42188

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
5,-1,1,0,5007,1920,9857,0,NaN,0
6,-1,1,0,5007,1920,9858,0,NaN,0
7,-1,1,0,5007,1920,9860,0,NaN,0
8,-1,1,0,5007,1920,10130,0,NaN,0
9,-1,1,0,5007,1920,10131,0,NaN,0
10,-1,1,0,5007,1920,15331,0,NaN,0
11,-1,1,0,5007,1920,15332,0,NaN,0
12,-1,1,0,5007,1920,16296,0,NaN,0
13,-1,1,0,5007,1920,16366,0,NaN,0
14,-1,1,0,5007,1920,19423,0,NaN,0
15,-1,1,0,5007,1920,19848,0,NaN,0
16,-1,1,0,5007,1920,20259,0,NaN,0
17,-1,1,0,5007,1920,20261,0,NaN,0
18,-1,1,0,5007,1920,20262,0,NaN,0
19,-1,1,0,5007,1920,20263,0,NaN,0
20,-1,1,0,5007,1920,20264,0,NaN,0
21,-1,1,0,5007,1920,20485,0,NaN,0
22,-1,1,0,5007,1920,20487,0,NaN,0
23,-1,1,0,5007,1920,20489,0,NaN,0
24,-1,1,0,5007,1920,20490,0,NaN,0
25,-1,1,0,5007,1920,21497,0,NaN,0
26,-1,1,0,5007,1920,21795,0,NaN,0
27,-1,1,0,5007,1920,21856,0,NaN,0
28,-1,1,0,5007,1920,21860,0,NaN,0
29,-1,1,0,5007,1920,21861,0,NaN,0
30,-1,1,0,5007,1920,21862,0,NaN,0
31,-1,1,0,5007,1920,21864,0,NaN,0
32,-1,1,0,5007,1920,21876,0,NaN,0
33,-1,1,0,5007,1920,21878,0,NaN,0
34,-1,1,0,5007,1920,21882,0,NaN,0
35,-1,1,0,5007,1920,23847,0,NaN,0
36,-1,1,0,5007,1920,27148,0,NaN,0
37,-1,1,0,5007,1920,28215,0,NaN,0
38,-1,1,0,5007,1920,28223,0,NaN,0
39,-1,1,0,5007,1920,28240,0,NaN,0
40,-1,1,0,5007,1920,28260,0,NaN,0
41,-1,1,0,5007,1920,28263,0,NaN,0
42,-1,1,0,5007,1920,28267,0,NaN,0
43,-1,1,0,5007,1920,28269,0,NaN,0
44,-1,1,0,5007,1920,28275,0,NaN,0
45,-1,1,0,5007,1920,28277,0,NaN,0
46,-1,1,0,5007,1920,28279,0,NaN,0
47,-1,1,0,5007,1920,28281,0,NaN,0
48,-1,1,0,5007,1920,28296,0,NaN,0
49,-1,1,0,5007,1920,28304,0,NaN,0

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
211,5,6792,1145,662,5,6,152,29229.0,5
219,5,6792,1145,662,5,103,28,1990.0,6
221,5,6792,1145,662,5,125,75,29261.0,2
233,5,6792,1145,662,5,423,156,64481.0,7
238,5,6792,1145,662,5,562,10,1005.0,1
248,5,6792,1145,662,5,898,5,725.0,1
265,5,6792,1145,662,5,1826,26,2762.0,1
270,5,6792,1145,662,5,1904,11,493.0,0
271,5,6792,1145,662,5,1906,7,455.0,3
273,5,6792,1145,662,5,1908,5,351.0,0
275,5,6792,1145,662,5,1912,3,286.0,7
278,5,6792,1145,662,5,2072,13,520.0,2
279,5,6792,1145,662,5,2077,21,9878.0,0
282,5,6792,1145,662,5,2149,22,4469.0,0
284,5,6792,1145,662,5,2167,11,709.0,3
286,5,6792,1145,662,5,2213,15,3182.0,2
289,5,6792,1145,662,5,2245,24,1475.0,2
331,6,457,114,47,0,3804,2,647.0,2
333,6,457,114,47,0,9329,9,938.0,4
334,6,457,114,47,0,21843,2,122.0,3
335,6,457,114,47,0,23750,5,228.0,0
337,6,457,114,47,0,39110,4,981.0,1
339,6,457,114,47,0,47256,1,130.0,0
340,7,429,56,20,0,643,21,1582.0,2
342,8,6764,1089,604,25,1,23,1278.0,1
344,8,6764,1089,604,25,36,41,67396.0,7
348,8,6764,1089,604,25,114,30,1220.0,1
351,8,6764,1089,604,25,168,17,1022.0,1
352,8,6764,1089,604,25,170,56,7733.0,1
372,8,6764,1089,604,25,1173,13,1765.0,5
383,8,6764,1089,604,25,1529,8,498.0,2
401,8,6764,1089,604,25,2348,15,795.0,4
419,8,6764,1089,604,25,3460,29,1068.0,0
421,8,6764,1089,604,25,3532,12,422.0,0
424,8,6764,1089,604,25,3814,73,4526.0,2
433,8,6764,1089,604,25,5184,12,1575.0,3
467,11,136,10,10,0,1194,29,5877.0,17
471,13,817,178,44,1,31,66,175495.0,3
473,13,817,178,44,1,175,29,28291.0,1
480,17,345,14,13,1,53,40,25962.0,4
483,18,128,8,16,0,3,54,3613.0,4
484,18,128,8,16,0,2427,5,1474.0,4
485,22,591,90,693,6,47,7,312.0,2
487,22,591,90,693,6,73,24,5717.0,5
500,22,591,90,693,6,3849,2,720.0,2
501,22,591,90,693,6,3944,6,3547.0,0
510,22,591,90,693,6,8160,5,430.0,2
513,22,591,90,693,6,10554,5,313.0,0
515,22,591,90,693,6,12028,3,293.0,3
517,22,591,90,693,6,16721,2,2034.0,0

Yo los llenaria con valores de 0, ya que la columna ViewCount es principalmente por las visitas.
Ya que las filas con NAN estos tienen en comun que tienen muy pocas visitas.
En cambio las filas que no tienen valores NaN su reputación y sus vistas son muy altas

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [60]:
#CAMBIO -> LA COLUMNA ViewCount NAN POR 0

#df.update(df[['a','b','c']].fillna(0))
#df_name_post_clean_viewCount = df_name_pots["ViewCount"].fillna(0) inplace=True
df_name_post_clean_viewCount = df_name_pots
df_name_pots.update(df_name_pots[["ViewCount"]].fillna(0))

display(df_name_pots)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0
5,-1,1,0,5007,1920,9857,0,0.0,0
6,-1,1,0,5007,1920,9858,0,0.0,0
7,-1,1,0,5007,1920,9860,0,0.0,0
8,-1,1,0,5007,1920,10130,0,0.0,0
9,-1,1,0,5007,1920,10131,0,0.0,0
10,-1,1,0,5007,1920,15331,0,0.0,0
11,-1,1,0,5007,1920,15332,0,0.0,0
12,-1,1,0,5007,1920,16296,0,0.0,0
13,-1,1,0,5007,1920,16366,0,0.0,0
14,-1,1,0,5007,1920,19423,0,0.0,0
15,-1,1,0,5007,1920,19848,0,0.0,0
16,-1,1,0,5007,1920,20259,0,0.0,0
17,-1,1,0,5007,1920,20261,0,0.0,0
18,-1,1,0,5007,1920,20262,0,0.0,0
19,-1,1,0,5007,1920,20263,0,0.0,0
20,-1,1,0,5007,1920,20264,0,0.0,0
21,-1,1,0,5007,1920,20485,0,0.0,0
22,-1,1,0,5007,1920,20487,0,0.0,0
23,-1,1,0,5007,1920,20489,0,0.0,0
24,-1,1,0,5007,1920,20490,0,0.0,0
25,-1,1,0,5007,1920,21497,0,0.0,0
26,-1,1,0,5007,1920,21795,0,0.0,0
27,-1,1,0,5007,1920,21856,0,0.0,0
28,-1,1,0,5007,1920,21860,0,0.0,0
29,-1,1,0,5007,1920,21861,0,0.0,0
...,...,...,...,...,...,...,...,...,...
90554,55674,1,0,0,0,115228,0,22.0,1
90555,55676,1,1,0,0,115231,0,25.0,1
90556,55677,1,1,0,0,115232,0,28.0,2
90557,55679,1,0,0,0,115236,0,13.0,0
90558,55682,13,0,0,0,115246,2,20.0,0
90559,55684,6,0,0,0,115253,1,31.0,6
90560,55687,6,0,0,0,115264,1,35.0,0
90561,55689,6,0,0,0,115270,1,28.0,7
90562,55695,1,0,0,0,115278,0,4.0,0
90563,55697,1,0,0,0,115285,0,22.0,4
90564,55699,6,0,0,0,115287,1,23.0,6
90565,55702,26,1,0,0,115291,5,29.0,1
90566,55709,1,0,0,0,115312,0,6.0,0
90567,55710,1,0,0,0,115313,0,18.0,4
90568,55713,6,0,0,0,115315,1,36.0,2
90569,55714,6,0,0,0,115316,1,20.0,3
90570,55715,6,0,0,0,115321,1,9.0,0
90571,55718,6,0,0,0,115327,1,25.0,0
90572,55719,1,1,0,0,115328,0,10.0,0
90573,55720,1,0,0,0,115331,0,12.0,1
90574,55724,16,1,0,0,115335,3,19.0,1
90575,55729,16,1,0,0,115338,0,0.0,0
90576,55730,1,0,0,0,115340,0,18.0,1
90577,55731,1,0,0,0,115350,0,3.0,0
90578,55733,6,1,0,0,115356,1,15.0,0
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [148]:
outliers = pd.DataFrame(columns=df_name_pots.columns)

"""max_rep = outliers["Reputation"].max()
avg_rep = outliers["Reputation"].mean()
min_rep = outliers["Reputation"].min()
print("Max,Avg,Min",max_rep,avg_rep,min_rep)
"""


"""
UNA FORMA DE HACERLO

QO = outliers.quantile(0)
Q1 = outliers.quantile(.25)
Q2 = outliers.quantile(.5)
Q3 = outliers.quantile(.75)
Q4 = outliers.quantile(1)

#calculo el IQR
IQR = Q3 - Q1
print(IQR)
#calculo los extremos de Q1

Q1_extremo = Q1 -( 3*IQR)


Q3_extremo = Q3 +( 3*IQR)
display(Q1_extremo)
display(Q3_extremo)

display( outliers.quantile(.25))
"""

stats = df_name_pots.describe().transpose()

display(stats)
stats['IQR'] = stats['75%'] - stats['25%']


results = None
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    #HASTA AQUI CALCULAMOS TODOS LOS VALORES
    
    
    
    #coge los valorees fuera de los limites
    #copy hacee una copia de los indices y de toda la columba
    results = df_name_pots[(df_name_pots[col] < lower) | 
                   (df_name_pots[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

path_file = ""
outliers.to_csv(file_name, sep='\t')

,count,mean,std,min,25%,50%,75%,max
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0
ViewCount,90584.0,259.253400,1632.261405,0.0,0.00,0.0,111.00,175495.0
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0

Index(['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes', 'postId',
       'Score', 'ViewCount', 'CommentCount'],
      dtype='object')

Index(['CommentCount', 'DownVotes', 'Outlier', 'Reputation', 'Score',
       'UpVotes', 'ViewCount', 'Views', 'postId', 'userId'],
      dtype='object')