#### 1. Import pandas library

In [66]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [67]:
import pymysql
from sqlalchemy import create_engine
import getpass

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [68]:
password = getpass.getpass("Insert your mysql root password: ")
engine = create_engine('mysql+pymysql://guest:{}@relational.fit.cvut.cz/stats'.format(password))
print("Connected to server!")


'''
hostname: relational.fit.cvut.cz
port: 3306
username: guest
password: relational'''

Insert your mysql root password: ········
Connected to server!

'\nhostname: relational.fit.cvut.cz\nport: 3306\nusername: guest\npassword: relational'

#### 4. Import the users table

In [69]:
query = "SELECT * FROM users"

users = pd.read_sql_query(query, engine)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [70]:
users = users.rename(columns={"Id": "userId"})

users.columns

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 6. Import the posts table.

In [71]:
query = "SELECT * FROM posts"

posts = pd.read_sql_query(query, engine)
display(posts.head())

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [72]:
posts = posts.rename(columns={"Id":"postId", "OwnerUserId":"userId" })

posts.columns

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [73]:
users = users[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
posts = posts[["postId", "Score", "userId", "ViewCount", "CommentCount"]]

'''
Para hacer una copia y no machacar los datos...

users = users[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]].copy()
posts = posts[["postId", "Score", "userId", "ViewCount", "CommentCount"]].cpoy()

'''

display(users.head())
display(posts.head())

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [74]:
print(users.shape)
print(posts.shape)

(40325, 5)
(91976, 5)

In [82]:
merge_data = users.merge(posts, left_on = "userId", right_on = "postId")
merge_data.head()

,userId_x,Reputation,Views,UpVotes,DownVotes,postId,Score,userId_y,ViewCount,CommentCount
0,2,101,25,3,0,2,22,24.0,8198.0,1
1,3,101,22,19,0,3,54,18.0,3613.0,4
2,4,101,11,0,0,4,13,23.0,5224.0,2
3,5,6792,1145,662,5,5,81,23.0,NaN,3
4,6,457,114,47,0,6,152,5.0,29229.0,5

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [83]:
null_cols = merge_data.isnull().sum()
print(null_cols)

userId_x            0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
userId_y          772
ViewCount       19011
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [84]:
merge_data.shape

(32057, 10)

In [97]:
merge_data["ViewCount"].shape

(32057,)

In [ ]:
'''
Aunque los valores nulos en la columna ViewCount son casi el 60% total,
creo que la columna habría que mantenerla por la información que puede aportar sobre
los usuarios cuyos valores son válidos. Por tanto, intentaría esa columna
y cambiar los valores NaN por 0.

'''

In [93]:
print(merge_data["ViewCount"])

0         8198.0
1         3613.0
2         5224.0
3            NaN
4        29229.0
          ...
32052        NaN
32053        NaN
32054        NaN
32055       59.0
32056        NaN
Name: ViewCount, Length: 32057, dtype: float64

In [94]:
merge_data["ViewCount"] = merge_data["ViewCount"].fillna(0)
print(merge_data["ViewCount"])

0         8198.0
1         3613.0
2         5224.0
3            0.0
4        29229.0
          ...
32052        0.0
32053        0.0
32054        0.0
32055       59.0
32056        0.0
Name: ViewCount, Length: 32057, dtype: float64

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [95]:
merge_data.dtypes

userId_x          int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
userId_y        float64
ViewCount       float64
CommentCount      int64
dtype: object

In [134]:
# No sé por qué en la primera columna mantiene el tipo float

merge_data["userId_y"] = pd.to_numeric(merge_data["userId_y"], downcast = "signed")
print(merge_data["userId_y"].dtypes)


merge_data["ViewCount"] = pd.to_numeric(merge_data["ViewCount"], downcast = "signed")
print(merge_data["ViewCount"].dtypes)

float64
int32

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [139]:
# Primero selecciono las columnas que me podrían interesar. Suprimo las de ID.

select_data = merge_data[["Reputation", "Views", "UpVotes", "DownVotes", "Score", "ViewCount", "CommentCount"]].copy()


stats = select_data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
Reputation,32057.0,92.393487,873.063852,1.0,1.0,13.0,101.0,87393.0,100.0
Views,32057.0,10.162804,171.205030,0.0,0.0,1.0,3.0,20932.0,3.0
UpVotes,32057.0,7.443990,145.805713,0.0,0.0,0.0,0.0,11442.0,0.0
DownVotes,32057.0,0.238045,6.262672,0.0,0.0,0.0,0.0,779.0,0.0
Score,32057.0,3.872446,6.330174,-13.0,1.0,2.0,5.0,192.0,4.0
ViewCount,32057.0,464.441027,2388.137566,0.0,0.0,0.0,240.0,143055.0,240.0
CommentCount,32057.0,1.993231,2.676007,0.0,0.0,1.0,3.0,45.0,3.0

In [145]:
outliers = pd.DataFrame(columns=select_data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = select_data[(select_data[col] < lower) | 
                   (select_data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

In [151]:
#Cambio de orden de las columnas
column_order = ["CommentCount", "DownVotes", "Reputation", "Score", "UpVotes", "ViewCount",
                "Views", "Outlier"]


outliers = outliers[column_order]
outliers.head()

   CommentCount DownVotes Reputation Score UpVotes ViewCount Views     Outlier
3             3         5       6792    81     662         0  1145  Reputation
4             5         0        457   152      47     29229   114  Reputation
5             3         0        429    76      20      5808    56  Reputation
6             2        25       6764     0     604       288  1089  Reputation
10            4         1        817    14      44         0   178  Reputation

In [152]:
# Export dataframe as a CSV file

outliers.to_csv('outliers.csv')