#### 1. Import pandas library

In [1]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
password='relational'
engine = create_engine('mysql+pymysql://guest:{}@relational.fit.cvut.cz:3306/stats'.format(password))
print("Connected to server!")

Connected to server!

#### 4. Import the users table

In [6]:
query = 'SELECT * FROM users'
users = pd.read_sql_query(query, engine)
display(users.head())

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [7]:
users.rename(columns={"Id": "userId"}, inplace=True)

#### 6. Import the posts table.

In [5]:
query = 'SELECT * FROM posts'
posts = pd.read_sql_query(query, engine)
display(posts.head())

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [8]:
posts.rename(columns={"Id": "postId", "OwnerUserId":"userID"}, inplace=True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [9]:
users_df = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_df = posts[['postId', 'Score', 'userID', 'ViewCount', 'CommentCount']]
display(users_df.head(), posts_df.head())

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

   postId  Score  userID  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [10]:
usersposts_df = users_df.merge(posts_df,left_on='userId', right_on='userID')
display(usersposts_df.head())

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,userID,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,-1.0,NaN,0
1,-1,1,0,5007,1920,8576,0,-1.0,NaN,0
2,-1,1,0,5007,1920,8578,0,-1.0,NaN,0
3,-1,1,0,5007,1920,8981,0,-1.0,NaN,0
4,-1,1,0,5007,1920,8982,0,-1.0,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [11]:
usersposts_df.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
userID              0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [29]:
print('Null count on ViewCount: {}\nNumber of rows in DataFrame: {}'.format(usersposts_df['ViewCount'].isnull().sum(),len(usersposts_df)))
print('Percentage of Nulls in ViewCount column: {}%'.format(round(100*usersposts_df['ViewCount'].isnull().sum()/len(usersposts_df['ViewCount']),2)))
# Number of Nulls is too big, these elements should be dropped from column in order to have
# a consistent database for ViewCounts
usersposts_df = usersposts_df[~usersposts_df['ViewCount'].isnull()]

Null count on ViewCount: 48396
Number of rows in DataFrame: 90584
Percentage of Nulls in ViewCount column: 53.43%

In [30]:
usersposts_df.isnull().sum()

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
userID          0
ViewCount       0
CommentCount    0
dtype: int64

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [31]:
print(usersposts_df.dtypes)

# Drop second userID column, as it is repeated.
# ViewCount should be integer, as there can't be half a view
usersposts_df.drop(columns='userID',inplace=True)
usersposts_df = usersposts_df.astype({'ViewCount': 'int64'})
print(usersposts_df.dtypes)

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
userID          float64
ViewCount       float64
CommentCount      int64
dtype: object
userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

In [32]:
display(usersposts_df.head())

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
211,5,6792,1145,662,5,6,152,29229,5
219,5,6792,1145,662,5,103,28,1990,6
221,5,6792,1145,662,5,125,75,29261,2
233,5,6792,1145,662,5,423,156,64481,7
238,5,6792,1145,662,5,562,10,1005,1

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [33]:
# Create statistics description table of usersposts_df
stats = usersposts_df.describe().transpose()
# Adding Interquartile Range column
stats['IQR'] = stats['75%'] - stats['25%']
# Display
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,42188.0,21813.963497,15732.780681,5.0,8065.75,19662.0,34922.25,55746.0,26856.5
Reputation,42188.0,528.212691,2453.144293,1.0,14.00,93.0,253.00,87393.0,239.0
Views,42188.0,88.734972,454.847157,0.0,2.00,8.0,34.00,20932.0,32.0
UpVotes,42188.0,60.050939,364.016620,0.0,0.00,2.0,17.00,11442.0,17.0
DownVotes,42188.0,1.808168,14.913523,0.0,0.00,0.0,0.00,779.0,0.0
postId,42188.0,61728.951835,32900.515385,1.0,32580.75,64008.0,90194.25,115376.0,57613.5
Score,42188.0,2.482768,4.741800,-19.0,0.00,1.0,3.00,192.0,3.0
ViewCount,42188.0,556.656158,2356.930779,1.0,53.00,126.0,367.00,175495.0,314.0
CommentCount,42188.0,2.111667,2.720020,0.0,0.00,1.0,3.00,37.0,3.0

In [34]:
# Create outliers table with same columns as usersposts_df
outliers = pd.DataFrame(columns=usersposts_df.columns)

# Iterate columns
for col in ['Reputation', 'Views', 'UpVotes', 'DownVotes', 'Score', 'ViewCount', 'CommentCount']:
    # Take IQR value
    iqr = stats.loc[col,'IQR']
    # Set lower and upper outliers bounds
    cutoff = iqr * 1.5
    lower = stats.loc[col,'25%'] - cutoff
    upper = stats.loc[col,'75%'] + cutoff
    # Copy Rows with values of iterating column below lower cut or above upper cut
    results = usersposts_df[(usersposts_df[col] < lower) | (usersposts_df[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
display(outliers.head())

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:7116: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,CommentCount,DownVotes,Outlier,Reputation,Score,UpVotes,ViewCount,Views,postId,userId
211,5,5,Reputation,6792,152,662,29229,1145,6,5
219,6,5,Reputation,6792,28,662,1990,1145,103,5
221,2,5,Reputation,6792,75,662,29261,1145,125,5
233,7,5,Reputation,6792,156,662,64481,1145,423,5
238,1,5,Reputation,6792,10,662,1005,1145,562,5

In [35]:
# Write Outliers to CSV file
outliers.to_csv('outliers.csv')