#### 1. Import pandas library

In [63]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [64]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [86]:



"""
con = pymysql.connect(host='relational.fit.cvut.cz',
                             user='guest',
                             password='relational',                             
                             cursorclass=pymysql.cursors.DictCursor)"""


#engine = db.create_engine('dialect+driver://user:pass@host:port/db'
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')
print("Connected to server")

Connected to server

#### 4. Import the users table

In [88]:
query = "SELECT * FROM users"

df = pd.read_sql_query(query, engine)
display(df)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41.0,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28.0,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36.0,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44.0,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40.0,None
10,12,101,2010-07-19 19:06:34,Jin,2014-09-09 20:26:03,http://www.8164.org,"Raleigh, NC",<p>I design stuff for Stack Exchange. Also a p...,10,5,0,21721,38.0,None
11,13,817,2010-07-19 19:06:49,Sharpie,2014-08-14 17:28:14,http://www.sharpsteen.net,United States,Undergraduate studying Environmental Engineeri...,178,44,1,46029,28.0,None
12,15,11,2010-07-19 19:07:32,hannes.koller,2010-08-24 14:23:18,http://soma.denkt.org,"Vienna, Austria",None,8,0,0,189902,35.0,None
13,16,101,2010-07-19 19:08:13,slashnick,2010-08-19 20:40:59,None,"London, United Kingdom",None,4,7,0,10996,31.0,None
14,17,345,2010-07-19 19:08:28,Random,2010-09-10 07:34:36,None,None,None,14,13,1,509454,NaN,None
15,18,128,2010-07-19 19:08:29,grokus,2012-08-09 15:02:00,http://wikipedia.org,United States,<p>Software engineer.</p>\n,8,16,0,69872,44.0,None
16,19,101,2010-07-19 19:08:45,Noah Snyder,2012-06-17 15:53:43,http://sbseminar.wordpress.com,"New York, NY",<p>I'm an assistant professor in mathematics a...,13,2,0,501919,34.0,None
17,21,101,2010-07-19 19:08:56,Waleed Al-Balooshi,2011-09-26 02:28:45,None,Michigan,None,6,0,0,40640,33.0,None
18,22,591,2010-07-19 19:09:00,radek,2014-09-11 15:21:01,None,"Berne, Switzerland",<p>Researcher in spatial epidemiology &amp; GI...,90,693,6,124416,NaN,None
19,23,308,2010-07-19 19:09:16,Jay Stevens,2014-08-11 19:51:32,http://www.centerlinescores.com,None,<p>I design and build Grant and Program manage...,52,34,1,21565,46.0,None
20,24,344,2010-07-19 19:09:32,A Lion,2011-12-06 04:21:56,None,None,None,48,36,1,85249,NaN,None
21,25,4968,2010-07-19 19:09:32,Harvey Motulsky,2014-09-13 21:51:42,http://www.graphpad.com,Santa Monica CA,"<p>I am the founder and CEO of <a href=""http:/...",641,328,23,504968,62.0,None
22,26,3150,2010-07-19 19:09:39,JMS,2014-09-13 04:03:25,None,None,None,257,138,7,134002,NaN,None
23,27,101,2010-07-19 19:09:41,balpha,2014-04-14 14:57:17,http://balpha.de/,"Berlin, Germany",<p>My name is Benjamin Dumke-von der Ehe. I am...,10,2,0,40051,34.0,None
24,29,2250,2010-07-19 19:09:42,JD Long,2014-08-11 19:14:03,http://cerebralmastication.com,"Chicago, IL",I'm a data guy not a programmer. But sometimes...,318,28,1,17035,42.0,None
25,30,2185,2010-07-19 19:10:15,gappy,2014-08-27 20:06:28,http://www.twitter.com/gappy3000,"New York, NY",<p>Interested primarily in econometric analysi...,312,40,3,48399,NaN,None
26,33,221,2010-07-19 19:11:08,James Roth,2014-09-08 21:15:20,None,None,None,11,2,0,137440,NaN,None
27,34,185,2010-07-19 19:11:11,Christopher D. Long,2014-09-13 00:02:35,http://angrystatistician.blogspot.com,"Versailles, KY",<p>Consulting analyst for the San Diego Padres...,27,23,0,509455,NaN,http://i.stack.imgur.com/km1pr.jpg
28,35,101,2010-07-19 19:11:38,adi92,2014-08-13 06:05:38,http://www.contrib.andrew.cmu.edu/~amukherj/,"Pittsburgh, PA",None,4,9,0,13043,26.0,None
29,36,1570,2010-07-19 19:11:52,Stephen Turner,2014-08-29 15:17:07,http://gettinggeneticsdone.blogspot.com/,"Nashville, TN",<p>I'm finishing up my Ph.D. in Human Genetics...,173,26,1,330276,31.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40295,55718,6,2014-09-13 07:12:49,Amena,2014-09-13 07:12:49,None,None,None,0,0,0,5024818,NaN,None
40296,55719,1,2014-09-13 07:19:09,OGUNNUSI OLUWATOBI,2014-09-13 08:03:19,None,None,None,1,0,0,5024833,NaN,None
40297,55720,1,2014-09-13 08:00:08,Rebecca,2014-09-13 08:00:08,None,None,None,0,0,0,5024897,NaN,https://www.gravatar.com/avatar/2bc72d263cc5a8...
40298,55721,101,2014-09-13 08:15:38,Lotte Laat,2014-09-13 08:15:38,None,"Tilburg, Netherlands","<p>I like maths, swimming, food and penguins!<...",0,1,0,1402294,23.0,https://www.gravatar.com/avatar/a52832f3202953...
40299,55722,1,2014-09-13 08:32:22,WojciechF,2014-09-13 08:32:22,http://about.me/wojciechfrancuzik,None,"<p>MD mesmerized by data science, TeX user, R ...",0,0,0,3943551,NaN,https://www.gravatar.com/avatar/285ba1e160c296...
40300,55723,1,2014-09-13 09:29:38,Davidson Salvia Jr.,2014-09-13 09:29:38,None,None,None,0,0,0,5025125,NaN,http://graph.facebook.com/100000041001887/pict...
40301,55724,16,2014-09-13 09:50:11,ouroboros,2014-09-13 10:05:17,None,None,<p>I'm a self-taught programmer and linux powe...,1,0,0,3620179,NaN,https://www.gravatar.com/avatar/1f8dbbc900087e...
40302,55725,1,2014-09-13 09:53:01,Jatin Baveja,2014-09-13 15:25:42,None,None,None,0,0,0,5025186,NaN,https://lh3.googleusercontent.com/-8iERz9S6Zr8...
40303,55726,1,2014-09-13 09:54:27,SuPakarn Junfang,2014-09-13 13:10:43,None,None,None,0,0,0,5025192,NaN,https://lh6.googleusercontent.com/--7hwjXqt-Zs...
40304,55727,1,2014-09-13 10:03:06,biggvsdiccvs,2014-09-13 10:03:06,None,None,None,0,0,0,3293263,NaN,https://www.gravatar.com/avatar/c9e31787de1366...
40305,55728,1,2014-09-13 10:48:35,user56299,2014-09-13 10:48:35,None,None,None,0,0,0,3808774,NaN,None
40306,55729,16,2014-09-13 11:04:54,Achim Zeileis,2014-09-13 12:15:21,None,None,None,1,0,0,5025362,NaN,None
40307,55730,1,2014-09-13 12:01:38,quants_mum,2014-09-13 12:01:38,None,None,None,0,0,0,5025477,NaN,None
40308,55731,1,2014-09-13 15:23:34,Kiran BM,2014-09-13 20:51:55,None,None,None,0,0,0,5025991,NaN,None
40309,55732,101,2014-09-13 15:31:37,Szilárd Pfeiffer,2014-09-13 15:31:37,http://www.pfeifferszilard.hu,Hungary,None,0,0,0,1447761,36.0,https://www.gravatar.com/avatar/70c18b82b058c1...
40310,55733,6,2014-09-13 15:51:18,Pax,2014-09-13 23:57:22,None,None,None,1,0,0,5026082,NaN,https://www.gravatar.com/avatar/d9b1e7660eb8ed...
40311,55734,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,None,None,None,0,0,0,5026094,NaN,None
40312,55735,1,2014-09-13 16:21:29,Mukund,2014-09-13 16:21:29,None,None,None,0,0,0,3335078,NaN,https://www.gravatar.com/avatar/072b4df5e16f4e...
40313,55736,1,2014-09-13 16:29:11,liszt,2014-09-13 16:29:11,None,None,None,0,0,0,510194,NaN,http://i.stack.imgur.com/AvRzI.jpg?s=128&g=1
40314,55737,1,2014-09-13 17:53:27,oolusola,2014-09-13 17:53:27,None,None,None,0,0,0,5026427,NaN,None
40315,55738,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,None,None,None,0,0,0,5026468,NaN,None
40316,55739,1,2014-09-13 19:06:17,kpivert,2014-09-13 19:06:17,None,None,None,0,0,0,5026613,NaN,https://www.gravatar.com/avatar/93313f90fbaf1e...
40317,55740,1,2014-09-13 19:12:19,Nikkolasg,2014-09-13 19:46:29,None,None,<p>Be the change that you want to see in the w...,0,0,0,1239737,NaN,https://www.gravatar.com/avatar/cbae78493ed218...
40318,55741,101,2014-09-13 20:19:48,Jutschge,2014-09-13 20:19:48,None,Switzerland,None,0,1,0,3142440,NaN,https://www.gravatar.com/avatar/89f8e6f01faafa...
40319,55742,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,None,None,None,0,0,0,5026843,NaN,None
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 5. Rename Id column to userId

#### 6. Import the posts table.

#### 7. Rename Id column to postId and OwnerUserId to userId

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

#### 9. How many missing values do you have in your merged dataframe? On which columns?

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.