#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import sqlalchemy as db

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
#password = getpass.getpass("Insert your root password.")
hostname = "relational.fit.cvut.cz/stats"
username = "guest"
password = "relational"

engine = db.create_engine('mysql+pymysql://{}:{}@{}'.format(username,password,hostname))

#### 4. Import the users table

In [24]:
query = """SELECT *
            FROM users;""" 
df_u = pd.read_sql_query(query, engine)

#### 5. Rename Id column to userId

In [51]:
new_columns = [ele if ele != "Id" else "userId" for ele in list(df_u.columns)]
df_u.columns = new_columns
#df_u.head()

#### 6. Import the posts table.

In [26]:
query = """SELECT *
            FROM posts;""" 

df_p = pd.read_sql_query(query, engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [42]:
new_columns = [ele if ele != "Id" else "postId" for ele in list(df_p.columns)]
new_columns = [ele if ele != "OwnerUserId" else "userID" for ele in new_columns]
df_p.columns = new_columns
#df_p.head()
df_p.columns

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userID', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [44]:
df_u_col = ["userId", "Reputation" ,"Views" ,"UpVotes" ,"DownVotes"]
df_un = df_u[df_u_col]

df_p_col = ["postId", "Score", "userID", "ViewCount", "CommentCount"]
df_pn = df_p[df_p_col]

In [95]:
display(df_un.head(5))
print(df_un.shape)#, df_un["userId"].value_counts())

display(df_pn.head(5))
print(df_pn.shape)#, df_pn["userID"].value_counts())
#print(df_pn.isnull().sum())

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

(40325, 5)

   postId  Score  userID  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

(91976, 5)

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [120]:
#df1.merge(df2, left_on='lkey', right_on='rkey')

df_merge = df_un.merge(df_pn, left_on="userId", right_on='userID')
print(df_merge.shape)
display(df_merge.head(5))

(90584, 10)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,userID,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,-1.0,NaN,0
1,-1,1,0,5007,1920,8576,0,-1.0,NaN,0
2,-1,1,0,5007,1920,8578,0,-1.0,NaN,0
3,-1,1,0,5007,1920,8981,0,-1.0,NaN,0
4,-1,1,0,5007,1920,8982,0,-1.0,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [66]:
print(df_merge.isnull().sum())
print(df_merge.shape)

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
userID              0
ViewCount       48396
CommentCount        0
dtype: int64
(90584, 10)

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [122]:
#display(df_merge[df_merge["ViewCount"].isnull()!=True])

# Delete values, as they are in the 50% of the data. 

df_w = df_merge.drop(columns = ["ViewCount"])
display(df_w.head())
print(df_w.shape)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,userID,CommentCount
0,-1,1,0,5007,1920,2175,0,-1.0,0
1,-1,1,0,5007,1920,8576,0,-1.0,0
2,-1,1,0,5007,1920,8578,0,-1.0,0
3,-1,1,0,5007,1920,8981,0,-1.0,0
4,-1,1,0,5007,1920,8982,0,-1.0,0

(90584, 9)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [123]:
print(df_w.dtypes)

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
userID          float64
CommentCount      int64
dtype: object

In [153]:
df_w["userID"] = df_w["userID"].astype('int64')
display(df_w.head())

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,userID,CommentCount
0,-1,1,0,5007,1920,2175,0,-1,0
1,-1,1,0,5007,1920,8576,0,-1,0
2,-1,1,0,5007,1920,8578,0,-1,0
3,-1,1,0,5007,1920,8981,0,-1,0
4,-1,1,0,5007,1920,8982,0,-1,0

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [154]:
#We obtain de IQR
stats = df_w.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.00,0.0,8.00,1920.0,8.00
postId,90584.0,56539.080522,33840.307529,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
Score,90584.0,2.780767,4.948922,-19.0,1.00,2.0,3.00,192.0,2.00
userID,90584.0,16546.764727,15273.367108,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.00,1.0,3.00,45.0,3.00

In [167]:
#We create outlier dataframe to check outliers
outliers = pd.DataFrame(columns=df_w.columns,)
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = df_w[(df_w[col] < lower) | (df_w[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results, sort = False)
display(outliers.head(5))

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,userID,CommentCount,Outlier
1155,88,14082,3320,4235,126,74,25,88,0,Reputation
1156,88,14082,3320,4235,126,94,5,88,0,Reputation
1157,88,14082,3320,4235,126,99,7,88,1,Reputation
1158,88,14082,3320,4235,126,119,6,88,3,Reputation
1159,88,14082,3320,4235,126,140,7,88,0,Reputation

In [171]:
outliers.to_csv("outliers.csv",index=False)