# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [2]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [5]:
total_customer_purchase = data.groupby(by=['CustomerID','ProductID','ProductName']).sum().reset_index(drop=False)
total_customer_purchase.head()

   CustomerID  ProductID                      ProductName  SalesID  Quantity
0          33         23          Crab - Imitation Flakes  6515659         1
1          33         51       Wine - Crozes Hermitage E.  5332057         1
2          33         53                           Cassis  1888258         1
3          33         67       Wine - Sogrape Mateus Rose  3975703         1
4          33         70  Squid - Tubes / Tenticles 10/20  2235546         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [6]:
recommend = pd.pivot_table(total_customer_purchase, values='Quantity', index='ProductName', columns='CustomerID').fillna(0)
recommend.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [7]:
distances = pdist(recommend.T,'euclidean')
distances_matrix = pd.DataFrame(squareform(distances),columns=recommend.columns, index=recommend.columns)
distances = pd.DataFrame(1/(1 + distances_matrix), index=recommend.columns, columns=recommend.columns)
display(distances)

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [30]:
similar = distances[33].sort_values(ascending=False)[1:6]
similar

CustomerID
264     0.087047
3535    0.087047
3317    0.087047
2503    0.085983
3305    0.085638
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [31]:
purchase_similar_33 = total_customer_purchase[total_customer_purchase['CustomerID'].isin(list(similar.index))]
purchase_similar_33.head()

     CustomerID  ProductID                  ProductName  SalesID  Quantity
131         264          2   Cookie Chocolate Chip With   928142         1
132         264         30  Cheese - Brie, Triple Creme  6213860         1
133         264         48         Pecan Raisin - Tarts  3595141         1
134         264         49   Bacardi Breezer - Tropical   756802         1
135         264         59  Pastry - Butterscotch Baked  6696158         1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [32]:
recommend_33 = purchase_similar_33.groupby(by='ProductName').sum().sort_values(by='Quantity',ascending=False)
recommend_33

                               CustomerID  ProductID   SalesID  Quantity
ProductName
Butter - Unsalted                    5820        804  13554503         3
Wine - Ej Gallo Sierra Valley        6622        884   5892505         3
Towels - Paper / Kraft               7104        957   5618699         3
Soup - Campbells Bean Medley         7116       1146   9218997         3
Wine - Blue Nun Qualitatswein        7104        807   9241577         3
...                                   ...        ...       ...       ...
Hinge W Undercut                      264        297   6577594         1
Ice Cream Bar - Hageen Daz To        2503        246   5840790         1
Jagermeister                         3535        374   5687769         1
Jolt Cola - Electric Blue            3305         82   6641905         1
Yogurt - French Vanilla              3305        320   6757819         1

[218 rows x 4 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [33]:
recommend_33_top_5 =  list(recommend_33.filter(items=(recommend[33] == 0).index).index)[:5]
recommend_33_top_5

['Butter - Unsalted',
 'Wine - Ej Gallo Sierra Valley',
 'Towels - Paper / Kraft',
 'Soup - Campbells Bean Medley',
 'Wine - Blue Nun Qualitatswein']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [34]:
recommendations = {}
customers = list(distances_matrix.columns)
for cust in customers:
    similar = distances[cust].sort_values(ascending=False)[1:6]
    purchase_similar = total_customer_purchase[total_customer_purchase['CustomerID'].isin(list(similar.index))]
    recommend_cust = purchase_similar.groupby(by='ProductName').sum().sort_values(by='Quantity',ascending=False)
    recommendations[cust] = list(recommend_cust.filter(items=(recommend[cust] == 0).index).index)[:5]

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [35]:
recommendations_df = pd.DataFrame(recommendations)
recommendations_df.iloc[:,0:5]

,33,200,264,356,412
0,Butter - Unsalted,Soup - Campbells Bean Medley,Soupfoamcont12oz 112con,"Veal - Inside, Choice",Olive - Spread Tapenade
1,Wine - Ej Gallo Sierra Valley,Muffin - Carrot Individual Wrap,Wine - Two Oceans Cabernet,Wine - Ej Gallo Sierra Valley,Sprouts - Baby Pea Tendrils
2,Towels - Paper / Kraft,Bay Leaf,Bread - Italian Roll With Herbs,Lamb - Ground,Wine - Blue Nun Qualitatswein
3,Soup - Campbells Bean Medley,Pork - Kidney,"Veal - Inside, Choice",Wine - Blue Nun Qualitatswein,"Veal - Inside, Choice"
4,Wine - Blue Nun Qualitatswein,"Pepper - Black, Whole",Potatoes - Idaho 100 Count,Pomello,"Pepper - Black, Whole"

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [36]:
distances = pdist(recommend.T,'cosine')
distances_matrix = pd.DataFrame(squareform(distances),columns=recommend.columns, index=recommend.columns)
distances = pd.DataFrame(1/(1 + distances_matrix), index=recommend.columns, columns=recommend.columns)
recommendations = {}
customers = list(distances_matrix.columns)
for cust in customers:
    similar = distances[cust].sort_values(ascending=False)[1:6]
    purchase_similar = total_customer_purchase[total_customer_purchase['CustomerID'].isin(list(similar.index))]
    recommend_cust = purchase_similar.groupby(by='ProductName').sum().sort_values(by='Quantity',ascending=False)
    recommendations[cust] = list(recommend_cust.filter(items=(recommend[cust] == 0).index).index)[:5]

In [37]:
recommendations_df = pd.DataFrame(recommendations)
recommendations_df.iloc[:,0:5]

,33,200,264,356,412
0,Knife Plastic - White,Olives - Kalamata,"Lemonade - Natural, 591 Ml",Tomatoes Tear Drop,Banana - Leaves
1,Phyllo Dough,Mustard Prepared,Pickerel - Fillets,Sobe - Tropical Energy,"Salsify, Organic"
2,Cake - Box Window 10x10x2.5,Quiche Assorted,Muffin Mix - Blueberry,Bread - English Muffin,Beans - Wax
3,"Soup - Campbells, Beef Barley",Pop Shoppe Cream Soda,Wine - Blue Nun Qualitatswein,"Thyme - Lemon, Fresh",Durian Fruit
4,Onions - Cippolini,Longos - Grilled Salmon With Bbq,"Water - Mineral, Natural",Olive - Spread Tapenade,Whmis - Spray Bottle Trigger