## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [20]:
misample=random.sample(range(100),80)
print (misample)

[89, 83, 11, 29, 65, 40, 36, 7, 82, 10, 74, 84, 28, 33, 90, 79, 87, 39, 46, 52, 86, 70, 13, 63, 91, 94, 4, 92, 67, 98, 96, 0, 69, 27, 59, 45, 23, 54, 49, 8, 22, 62, 72, 17, 78, 38, 81, 85, 16, 2, 30, 25, 43, 99, 50, 75, 35, 77, 56, 19, 14, 6, 55, 44, 66, 71, 58, 68, 9, 32, 20, 47, 61, 88, 42, 18, 64, 76, 1, 57]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [84]:
set1=set(misample)
print("set1=",set1)
print()
print("length set1:",len(set1))
print()
print(type(set1))

set1= {0, 1, 2, 4, 6, 7, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 22, 23, 25, 27, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 98, 99}

length set1: 80

<class 'set'>

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [85]:
sample_list_2=list(random.sample(range(100),1))
for i in range(79):
    sample_list_2.append(random.sample(range(100),1)[0])
print(sample_list_2)
print()
print("Longitud de sample_list_2:",len(sample_list_2))

[80, 80, 66, 55, 16, 16, 55, 23, 41, 93, 52, 31, 2, 45, 31, 82, 38, 25, 91, 87, 44, 63, 79, 1, 26, 42, 54, 75, 59, 9, 29, 69, 71, 93, 44, 11, 56, 16, 86, 59, 1, 42, 13, 42, 83, 8, 56, 34, 51, 3, 96, 2, 78, 81, 87, 33, 66, 65, 79, 53, 91, 8, 40, 26, 43, 72, 44, 5, 92, 68, 35, 58, 35, 98, 3, 20, 84, 64, 94, 20]

Longitud de sample_list_2: 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [86]:
set2=set(sample_list_2)
print("set2=",set2)
print()
print("length set2:",len(set2))

set2= {1, 2, 3, 5, 8, 9, 11, 13, 16, 20, 23, 25, 26, 29, 31, 33, 34, 35, 38, 40, 41, 42, 43, 44, 45, 51, 52, 53, 54, 55, 56, 58, 59, 63, 64, 65, 66, 68, 69, 71, 72, 75, 78, 79, 80, 81, 82, 83, 84, 86, 87, 91, 92, 93, 94, 96, 98}

length set2: 57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [87]:
set3=set1.difference(set2)
print("set3=",set3)
print()
print("length set3:",len(set3))

set3= {0, 4, 6, 7, 10, 14, 17, 18, 19, 22, 27, 28, 30, 32, 36, 39, 46, 47, 49, 50, 57, 61, 62, 67, 70, 74, 76, 77, 85, 88, 89, 90, 99}

length set3: 33

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [88]:
set4=set2.difference(set1)
print("set4=",set4)
print()
print("length set4:",len(set4))

set4= {34, 3, 5, 41, 80, 51, 53, 26, 93, 31}

length set4: 10

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [89]:
UnionDosSets=set1.union(set2)
print("longitud UnionDosSets:",len(UnionDosSets))
set5=UnionDosSets.difference(set3).difference(set4)
print()
print("set5=",set5)
print()
print("length set5:",len(set5))

longitud UnionDosSets: 90

set5= {1, 2, 8, 9, 11, 13, 16, 20, 23, 25, 29, 33, 35, 38, 40, 42, 43, 44, 45, 52, 54, 55, 56, 58, 59, 63, 64, 65, 66, 68, 69, 71, 72, 75, 78, 79, 81, 82, 83, 84, 86, 87, 91, 92, 94, 96, 98}

length set5: 47

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [99]:
print ("longitud set1",len(set1))
print ("longitud set2",len(set2))
print ("longitud set3",len(set3))
print ("longitud set4",len(set4))
print ("longitud set5",len(set5))
print()
print("set1+set2=set3+set4+2*set5")
print("set1+set2=",len(set1)+len(set2))
print("set3+set4+2*set5=",len(set3)+len(set4)+2*len(set5))

longitud set1 80
longitud set2 57
longitud set3 33
longitud set4 10
longitud set5 47

set1+set2=set3+set4+2*set5
set1+set2= 137
set3+set4+2*set5= 137

#### Create an empty set called `set6`.

In [70]:
set6=set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [101]:
set6=set()
print("set6=",set6)
set6.update(set3)
print()
print("set6=",set6)
set6.update(set5)
print()
print("set6=",set6)

set6= set()

set6= {0, 4, 6, 7, 10, 14, 17, 18, 19, 22, 27, 28, 30, 32, 36, 39, 46, 47, 49, 50, 57, 61, 62, 67, 70, 74, 76, 77, 85, 88, 89, 90, 99}

set6= {0, 1, 2, 4, 6, 7, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 22, 23, 25, 27, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [102]:
if(set1==set6):
    print("true")
else:
    print("false")

true

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [103]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [105]:
UnionSet3Set4Set5=set3.union(set4.union(set5))
print("UnionSet3Set4Set5=",UnionSet3Set4Set5)
UnionSet1Set2=set1.union(set2)
print()
print("UnionSet1Set2=",UnionSet1Set2)
print()
if (UnionSet3Set4Set5==UnionSet1Set2):
    print ("Groups are equal")
else:
    print ("Groups are not equal")

UnionSet3Set4Set5= {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 98, 99}

UnionSet1Set2= {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 98, 99}

Groups are equal

#### Using the `pop` method, remove the first element from `set1`.

In [106]:
print("set1=",set1)
set1.pop()
print()
print("set1=",set1)

set1= {0, 1, 2, 4, 6, 7, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 22, 23, 25, 27, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 98, 99}

set1= {1, 2, 4, 6, 7, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 22, 23, 25, 27, 28, 29, 30, 32, 33, 35, 36, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [111]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print("set1=",set1)
print()
for ElementToRemove in list_to_remove:
    set1.discard(ElementToRemove)
print("set1=",set1)

set1= {2, 4, 6, 7, 8, 10, 13, 14, 16, 17, 18, 20, 22, 23, 25, 27, 28, 30, 32, 33, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 90, 92, 94, 96, 98}

set1= {2, 4, 6, 7, 8, 10, 13, 14, 16, 17, 18, 20, 22, 23, 25, 27, 28, 30, 32, 33, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 90, 92, 94, 96, 98}