## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here


sample_list_1 = random.sample(range(100),k=80)
print(sample_list_1)

[74, 44, 17, 72, 15, 98, 71, 64, 14, 92, 35, 89, 46, 94, 61, 5, 0, 34, 57, 47, 84, 11, 32, 95, 9, 50, 75, 33, 37, 55, 1, 45, 6, 3, 86, 28, 13, 21, 83, 2, 80, 79, 22, 78, 12, 40, 4, 85, 29, 97, 62, 77, 54, 67, 30, 10, 48, 7, 96, 90, 76, 56, 68, 65, 23, 43, 70, 42, 82, 53, 51, 58, 36, 26, 25, 19, 31, 87, 59, 52]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1)

print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 17, 19, 21, 22, 23, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 89, 90, 92, 94, 95, 96, 97, 98}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
# Your code here


sample_list_2 = []

 
for i in range(80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[66, 9, 34, 60, 75, 90, 97, 9, 14, 36, 86, 85, 19, 27, 89, 73, 15, 14, 20, 84, 18, 31, 74, 13, 50, 23, 66, 98, 56, 20, 15, 93, 19, 44, 0, 72, 58, 37, 48, 90, 83, 3, 29, 57, 59, 26, 14, 41, 15, 21, 1, 13, 18, 38, 94, 97, 11, 40, 78, 39, 42, 76, 69, 57, 15, 93, 0, 75, 25, 23, 73, 98, 98, 37, 94, 8, 15, 32, 25, 69]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here

set2 = set(sample_list_2)
sizeSet2 = len(set2)


if sizeSet2 == 80:
    print("El tamaño de la lista es de 80 elementos")
else: print("El tamaño de la lista no es de 80 elementos. Su longitud es " + str(sizeSet2))

El tamaño de la lista no es de 80 elementos. Su longitud es 54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here

set3 = set1.difference(set2)

print(set3)

{2, 4, 5, 6, 7, 10, 12, 17, 22, 28, 30, 33, 35, 43, 45, 46, 47, 51, 52, 53, 54, 55, 61, 62, 64, 65, 67, 68, 70, 71, 77, 79, 80, 82, 87, 92, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here

set4 = set2.difference(set1)

print(set4)

{66, 69, 38, 39, 8, 41, 73, 18, 20, 27, 60, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# Your code here


set5 = set1.intersection(set2)

print(set5)

{0, 1, 3, 9, 11, 13, 14, 15, 19, 21, 23, 25, 26, 29, 31, 32, 34, 36, 37, 40, 42, 44, 48, 50, 56, 57, 58, 59, 72, 74, 75, 76, 78, 83, 84, 85, 86, 89, 90, 94, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [11]:
# Your code here


#set1 = dataset aleatorios sin repetir
#set2 = dataset aleatorio repetidos
#set3 = valores que solo estan en set1
#set4 = valores que solo esta en set2
#set5 = valores que estan tanto en set1 y set2


if len(set2) == len(set4) + len(set5):
    cadena = "Son iguales, ya que set4 presenta los valores que estan solamente set2, y set5 son los valores\n"
    cadena += "que estan en set1 y set2, por lo tanto la suma de los dos conjuntos forma el set2"
    print(cadena)

print("----------")
if len(set1) == len(set3) + len(set5):
    print("La misma situacion que set2, los valores de set3 y set4 conforman set1")
    
print("----------")
if len(set1) >= len(set3) and len(set5):
    print("El set1 es mayor que set2 y set3 ya que, estos son subconjuntos de estos")
    
print("----------")
if len(set2) >= len(set4):
    print("El set2 es mayor que set2 que set4, ya que este e sun sobconjunto de este ")

Son iguales, ya que set4 presenta los valores que estan solamente set2, y set5 son los valores
que estan en set1 y set2, por lo tanto la suma de los dos conjuntos forma el set2
----------
La misma situacion que set2, los valores de set3 y set4 conforman set1
----------
El set1 es mayor que set2 y set3 ya que, estos son subconjuntos de estos
----------
El set2 es mayor que set2 que set4, ya que este e sun sobconjunto de este

#### Create an empty set called `set6`.

In [12]:
# Your code here

set6 = set()

print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
# Your code here

set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 17, 19, 21, 22, 23, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 89, 90, 92, 94, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [14]:
# Your code here


if len(set6) == len(set1):
    print("iguales, ya que la union de estos dos subconjunto de datos forman el set1")

iguales, ya que la union de estos dos subconjunto de datos forman el set1

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [19]:
# Your code here

if set2.issubset(set1):
    print("Los elementos de set2 estan en set1")
else:
    print("Los elementos de set2 no estan en set1")
    

if set3.issubset(set1):
    print("Los elementos de set3 estan en set1, ya que este es un subconjunto de este.")
else:
    print("Los elementos de set3 no estan en set1")

Los elementos de set2 no estan en set1
Los elementos de set3 estan en set1, ya que este es un subconjunto de este.

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [27]:
# Your code here



set3= set3.union(set4)



set3 = set3.union(set5)

set1 = set1.union(set2)



if set3 == set1:
    print("Son iguales, ya que el conjunto 3, 4 y 5 es la suma de los conjuntos 1 y 2")
else:
    print("No son iguales")

{2, 4, 5, 6, 7, 8, 10, 12, 17, 18, 20, 22, 27, 28, 30, 33, 35, 38, 39, 41, 43, 45, 46, 47, 51, 52, 53, 54, 55, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 77, 79, 80, 82, 87, 92, 93, 95, 96}
Son iguales

#### Using the `pop` method, remove the first element from `set1`.

In [29]:
# Your code here


set1.pop()

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 89, 90, 92, 93, 94, 95, 96, 97, 98}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 89, 90, 92, 93, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for e in