# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [5]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [6]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [7]:
# Your code here:
display(salaries.head())

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [8]:
# Your code here:
display(salaries.isnull().sum())

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [9]:
# Your code here:
display(salaries["Salary or Hourly"].value_counts())

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [10]:
# Your code here:
display(salaries["Department"].value_counts())

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [11]:
# Your code here:
from scipy.stats import ttest_1samp
hourlyratedf=salaries[salaries["Hourly Rate"].notnull()]
display(hourlyratedf["Hourly Rate"].head())
print(hourlyratedf["Hourly Rate"].describe())
resultingpvalue=ttest_1samp(hourlyratedf["Hourly Rate"],30,0).pvalue
print()
print("p-value: "+ str(resultingpvalue))
print()
print("given that the resulting p-value is much smaller than 0.05, we can assume hourly wage of all hourly workers is significantly different from $30/hr.")

4     19.86
6     46.10
7     35.60
10     2.65
18    17.68
Name: Hourly Rate, dtype: float64

count    8022.000000
mean       32.788558
std        12.112573
min         2.650000
25%        21.200000
50%        35.600000
75%        40.200000
max       109.000000
Name: Hourly Rate, dtype: float64

p-value: 4.3230240486229894e-92

given that the resulting p-value is much smaller than 0.05, we can assume hourly wage of all hourly workers is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [39]:
# Your code here:
salariedemployeesdf=salaries[(salaries["Annual Salary"].notnull())& (salaries["Department"]=="POLICE")]
display(salariedemployeesdf["Annual Salary"].head())
print(salariedemployeesdf["Annual Salary"].describe())
result=ttest_1samp(salariedemployeesdf["Annual Salary"].tolist(),86000)
resultingpvalue=(result.pvalue/2)
print()
print("p-value is: "+str(round(resultingpvalue,5)))
print()
print("Given that p-value is smaller than 0,05 we can confirm that the salaries are statistically higher than $86.000 /year")

0     101442.0
1      94122.0
9      93354.0
11     84054.0
12     87006.0
Name: Annual Salary, dtype: float64

count     13404.000000
mean      86486.414503
std       18272.228294
min       38376.000000
25%       84054.000000
50%       90024.000000
75%       94524.000000
max      260004.000000
Name: Annual Salary, dtype: float64

p-value is: 0.00103

Given that p-value is smaller than 0,05 we can confirm that the salaries are statistically higher than $86.000 /year

Using the `crosstab` function, find the department that has the most hourly workers.

In [13]:
# Your code here:

display(pd.crosstab(salaries["Department"],salaries["Salary or Hourly"]))
print("Streets and sanitation is the deparment with more hourly wages")

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

Streets and sanitation is the deparment with more hourly wages

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [14]:
# Your code here:
filteredstreetdf=salaries[(salaries["Department"]=="STREETS & SAN") & (salaries["Salary or Hourly"]=="Hourly") & (salaries["Salary or Hourly"].notnull())]
display(filteredstreetdf.head())
result=ttest_1samp(filteredstreetdf["Hourly Rate"].tolist(),35)
print(result)
resultingpvalue=(result.pvalue/2)
print()
print("p-value is: "+str(round(resultingpvalue,5)))
print()
print("Given that p-value is smaller than 0,05 we can confirm that the salaries are statistically lower than $35/hour")

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

p-value is: 0.0

Given that p-value is smaller than 0,05 we can confirm that the salaries are statistically lower than $35/hour

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [59]:
# Your code here:
from scipy.stats import t
from scipy.stats import sem
hourlyworkersdf=salaries[salaries["Hourly Rate"].notnull()]
hourlyrateserie=hourlyworkersdf["Hourly Rate"]
display(hourlyrateserie.head())
display(hourlyrateserie.describe())
dfh=hourlyrateserie.describe().loc["count"]-1
meanh=hourlyrateserie.describe().loc["mean"]
stdh=hourlyrateserie.describe().loc["std"]
stderrorh=sem(hourlyrateserie)
print(dfh)
print(meanh)
print(stdh)
print(stderrorh)
print()
print("confidence interval is:")
print(t.interval(0.95,dfh,meanh,stderrorh))

4     19.86
6     46.10
7     35.60
10     2.65
18    17.68
Name: Hourly Rate, dtype: float64

count    8022.000000
mean       32.788558
std        12.112573
min         2.650000
25%        21.200000
50%        35.600000
75%        40.200000
max       109.000000
Name: Hourly Rate, dtype: float64

8021.0
32.78855771628024
12.112572684276799
0.1352368565101596

confidence interval is:
(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [60]:
# Your code here:
policeworkersdf=salaries[(salaries["Annual Salary"].notnull())& (salaries["Department"]=="POLICE")]
policeworkersserie=policeworkersdf["Annual Salary"]
display(policeworkersserie.head())
display(policeworkersserie.describe())
dfp=policeworkersserie.describe().loc["count"]-1
meanp=policeworkersserie.describe().loc["mean"]
stdp=policeworkersserie.describe().loc["std"]
stderrorp=sem(policeworkersserie)
print(dfp)
print(meanp)
print(stdp)
print(stderrorp)
print()
print("confidence interval is:")
print(t.interval(0.95,dfp,meanp,stderrorp))
print(sem([0,4,8,12,16]))

0     101442.0
1      94122.0
9      93354.0
11     84054.0
12     87006.0
Name: Annual Salary, dtype: float64

count     13404.000000
mean      86486.414503
std       18272.228294
min       38376.000000
25%       84054.000000
50%       90024.000000
75%       94524.000000
max      260004.000000
Name: Annual Salary, dtype: float64

13403.0
86486.41450313339
18272.22829399308
157.82445675052244

confidence interval is:
(86177.05631531784, 86795.77269094894)
2.8284271247461903

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [84]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest
n=salaries["Salary or Hourly"].describe()[0]
print(n)
print(salaries["Salary or Hourly"].value_counts())
print(salaries["Salary or Hourly"].value_counts()[1])
print(proportions_ztest(salaries["Salary or Hourly"].value_counts()[1],n,0.25))

33183
Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64
8022
(-3.5099964213703005, 0.0004481127249057967)