# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [25]:
from scipy.stats import ttest_1samp

"""
H1 : La media de hourly wage es muy diferente a $30/hr
H0 : La media de hourly wage no es muy diferente a $30/hr
"""

int_con = 0.95
mu= 30

rvs = list(salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"])

test_results = ttest_1samp(rvs,mu)
statistic = test_results.statistic
pvalue = test_results.pvalue / 2


if pvalue<1-int_con:
    print("Se acepta la H1")

Se acepta la H1

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [58]:
"""
H1 : El salario es mayor
H0 : El salario no es mayor
"""
int_con = 0.95
mu = 86000
rvs = list(salaries[(salaries["Department"] == "POLICE") & (salaries["Annual Salary"].notnull())]["Annual Salary"])
test_results1 = ttest_1samp(rvs,mu)


if test_results1.pvalue / 2 < 1-int_con:
    print("Se acepta la H1")

Se acepta la H1

Using the `crosstab` function, find the department that has the most hourly workers.

In [52]:
# Your code here:

crosstab = pd.crosstab(salaries["Salary or Hourly"], salaries["Department"])
crosstab

Department,ADMIN HEARNG,ANIMAL CONTRL,AVIATION,BOARD OF ELECTION,BOARD OF ETHICS,BUDGET & MGMT,BUILDINGS,BUSINESS AFFAIRS,CITY CLERK,CITY COUNCIL,...,MAYOR'S OFFICE,OEMC,POLICE,POLICE BOARD,PROCUREMENT,PUBLIC LIBRARY,STREETS & SAN,TRANSPORTN,TREASURER,WATER MGMNT
Salary or Hourly,,,,,,,,,,,,,,,,,,,,,
Hourly,0,19,1082,0,0,2,0,7,0,64,...,8,1273,10,0,2,299,1862,725,0,1513
Salary,39,62,547,107,8,44,269,164,84,347,...,77,829,13404,2,90,716,336,415,22,366

In [55]:
department = crosstab.loc["Hourly"].idxmax(axis=1)
print("El departamento con mas trabajadores por horas es: ",department)

El departamento con mas trabajadores por horas es:  STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [57]:
"""
H1 : El salario es menor que $35/h 
H0 : El salario no es menor que $35/h
"""

int_con = 0.95
mu = 35
rvs = list(salaries[(salaries["Department"] == department) & (salaries["Hourly Rate"].notnull())]["Hourly Rate"])
test_results2 = ttest_1samp(rvs,mu)


if test_results2.pvalue / 2 < 1-int_con:
    print("Se acepta la H1")

Se acepta la H1

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [35]:
# Your code here:
from scipy.stats import sem
from scipy.stats import t 

rvs = (salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"])

int_con = 0.95
df = len(rvs) - 1
mean = rvs.mean()
st = sem(rvs)

interval = t.interval((1-int_con),df,mean,st)
print(interval)
print("El intervalo esta entre {} y {}.".format(interval[0],interval[1] ))

(32.7800771833923, 32.797038249170264)
El intervalo esta entre 32.7800771833923 y 32.797038249170264.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [38]:
# Your code here:

rvs = salaries[(salaries["Department"]=="POLICE")&(salaries["Annual Salary"].notnull())]["Annual Salary"]

int_con = 0.95
df = len(rvs) - 1
mean = rvs.mean()
st = sem(rvs)

interval1 = t.interval((1-int_con),df,mean,st)
print("El intervalo esta entre {} y {}.".format(interval1[0],interval1[1] ))

El intervalo esta entre 86476.5176546444 y 86496.31135162238.

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: