# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [33]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [34]:
# Your code here:
salaries.head(3)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [13]:
# Your code here:
salaries.groupby("Department").count()["Name"].sort_values(ascending=False)

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [83]:
from scipy.stats import ttest_1samp

#H1 : hourly wage of all hourly workers is significantly different from mu0: $30/hr
#H0: hourly wage of all hourly workers is not significantly different from mu0: $30/hr
confi = 0.95
mu_0= 30
mu = salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"].mean()
n = salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"].count()

rvs = list(salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"])

t,p_value = ttest_1samp(rvs,mu_0)

if p_value<1-confi:
    print("\nWe accept the H1 hypothesis. The hourly wage is significantly different. t= {}, p_value = {}".format(t,p_value))

We accept the H1 hypothesis. The hourly wage is significantly different. t= 20.6198057854942, p_value = 4.3230240486229894e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [88]:
#H1: The salaries are significantly greater 
#H0: The salaries are NOT significantly greater
confi = 0.95
mu_0 = 86000
rvs = list(salaries[(salaries["Department"] == "POLICE") & (salaries["Annual Salary"].notnull())]["Annual Salary"])
t,p_value = ttest_1samp(rvs,mu_0)
print(t,p_value)

if t >= 0: 
    if p_value/2 < 1-confi:
         print("\nWe accept the H1 hypothesis. The salaries is significantly greater.  t= {}, p_value = {}".format(t,p_value/2))
    else:
         print("\nWe reject the H1 hypothesis. The salaries are NOT significantly greater. t= {}, p_value = {}".format(t,p_value/2))
else:
     print("\nWe reject the H1 hypothesis. The salaries are NOT significantly greater. t= {}, p_value = {}".format(t,p_value/2))

3.081997005712994 0.0020603403550965137

We accept the H1 hypothesis. The salaries is significantly greater.  t= 3.081997005712994, p_value = 0.0010301701775482569

Using the `crosstab` function, find the department that has the most hourly workers.

In [57]:
sal_cross = pd.crosstab(salaries["Salary or Hourly"], salaries["Department"])
sal_cross

Department,ADMIN HEARNG,ANIMAL CONTRL,AVIATION,BOARD OF ELECTION,BOARD OF ETHICS,BUDGET & MGMT,BUILDINGS,BUSINESS AFFAIRS,CITY CLERK,CITY COUNCIL,...,MAYOR'S OFFICE,OEMC,POLICE,POLICE BOARD,PROCUREMENT,PUBLIC LIBRARY,STREETS & SAN,TRANSPORTN,TREASURER,WATER MGMNT
Salary or Hourly,,,,,,,,,,,,,,,,,,,,,
Hourly,0,19,1082,0,0,2,0,7,0,64,...,8,1273,10,0,2,299,1862,725,0,1513
Salary,39,62,547,107,8,44,269,164,84,347,...,77,829,13404,2,90,716,336,415,22,366

In [71]:
department = sal_cross.loc["Hourly"].idxmax(axis=1)
print("The department with the most hourly workers is: ",department)

The department with the most hourly workers is:  STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [90]:
#H1 : Hourly wage is significantly less than $35/h
#H0:  Hourly wage is NOT significantly less than $35/h

confi = 0.95
mu_0 = 35
rvs = list(salaries[(salaries["Department"] == department) & (salaries["Hourly Rate"].notnull())]["Hourly Rate"])
t, p_value = ttest_1samp(rvs, mu_0)

if t <0 : 
    if p_value/2 <= 1-confi:
        print("\nWe accept the H1 hypothesis. The hourly wage is significantly lower. t= {}, p_value = {}".format(t,p_value/2))
    else: 
        print("\nWe reject the H1 hypothesis. The hourly wage is NOT significantly lower. t= {}, p_value = {}".format(t,p_value/2))
else: 
    print("\nWe reject the H1 hypothesis. The hourly wage is NOT significantly lower. t= {}, p_value = {}".format(t,p_value/2))

We accept the H1 hypothesis. The hourly wage is significantly lower. t= -9.567447887848152, p_value = 1.6689265282353859e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [110]:
from scipy.stats import sem
from scipy.stats import t as t_student

rvs = (salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"])

conf = 0.95
df = len(rvs) - 1
mean = rvs.mean()
st = sem(rvs)

ci_inf, ci_sup = t_student.interval((1-conf),df,mean,st)
print("The hourly wage should be in between {} and {}.".format(ci_inf, ci_sup))

The population mean should be in between 32.7800771833923 and 32.797038249170264.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [117]:
# Your code here:
rvs = salaries[(salaries["Department"]=="POLICE")&(salaries["Annual Salary"].notnull())]["Annual Salary"]

conf = 0.95
df = len(rvs) - 1
mean = rvs.mean()
st = sem(rvs)

ci_inf, ci_sup = t_student.interval((1-conf),df,mean,st)
print("The salary should be in between ${} and ${}.".format(ci_inf, ci_sup))

The salary should be in between $86476.5176546444 and $86496.31135162238.

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [125]:
from statsmodels.stats.proportion import proportions_ztest

count = salaries[salaries["Salary or Hourly"] == "Hourly"]["Name"].count()
value = 0.25
proportions_ztest(count = count, nobs = ,value = value)

TypeError: proportions_ztest() missing 1 required positional argument: 'nobs'